[2013-12-22 13:13] devgeeks opened #2 "Backbutton not hooked up"
Needs:
1. to be able to go back to the entries screen or close any open menus
2. exit the app

Also needs a "Hit back again to exit" toast

[2013-12-22 13:15] devgeeks opened #3 "Look into keyboard issues with access to fields in Add/Edit screens"
Sometimes when the keyboard covers an input field it no longer takes input from the keyboard

[2013-12-22 13:16] devgeeks opened #4 "Validation in Add/Edit screens"
Start with the minimum of at least requiring a label

[2013-12-22 13:17] devgeeks opened #5 "Validation in login"
Seems to hang forever if you hit the login button with empty username/passphrase fields

[2013-12-22 13:18] devgeeks opened #6 "Long Add/Edit screens (Credit Card, for example) are getting cut off."

[2013-12-22 13:20] devgeeks opened #7 "Login and Signup are no longer animating"

[2013-12-22 13:52] #7 closed, assigned to nobody

[2013-12-22 20:56] #3 closed, assigned to nobody

[2013-12-22 20:57] #6 closed, assigned to nobody

[2013-12-22 21:10] #2 closed, assigned to nobody

[2013-12-22 21:16] devgeeks opened #8 "Every once in a while, hitting back clears the view stack"
Fairly rare, but when it happens all you can do is fully exit the app and start over.

[2013-12-29 23:41] devgeeks opened #10 "Copying to clipboard"

[2013-12-29 23:42] devgeeks opened #11 "Delete entry"
Button is there, just needs hooking up

[2013-12-29 23:42] devgeeks opened #12 "Certificate pinning"

[2013-12-29 23:43] devgeeks opened #13 "Settings screen"
What all kinds of settings do we need?

[2013-12-29 23:52] devgeeks opened #14 "Generate new strong password"
might also need a settings button next to the password entry/edit field to set the parameters and generate a new password

[2013-12-30 01:17] #11 closed, assigned to nobody

[2013-12-30 21:14] devgeeks opened #15 "Entry "types" need to be abstracted to JSON structures"
Instead of an entry "type" being described as an object with a constructor like this:

[https://github.com/devgeeks/Encryptr/blob/master/src/models/types/PaswordTypeModel.js](https://github.com/devgeeks/Encryptr/blob/master/src/models/types/PaswordTypeModel.js)

It would be much better if it could be described simply as a JSON structure.

I tried this early on, but had issues with the prototype ch

[2013-12-30 22:20] devgeeks opened #16 "Move from Zepto's tap event to click and FTLabs FastClick"
This will enable the app to be used from a browser and will probably be crucial to having a node-webkit version.

[2013-12-30 22:34] #16 closed, assigned to nobody

[2013-12-31 20:54] kenmanheimer opened #18 "Strangely unable to clear server state"
This weird one may be due to a crypton server behavior - probably an undesirable one, if so.

I'm unable to reset my local working environment to completely fresh state. No matter what I've tried, I'm unable to eliminate the account I've established and its Encryptr content.

I've tried the following complete set of things, together, to no avail:
1. Stop the crypton server
2. Clear my browser's (C

[2013-12-31 21:22] #18 closed, assigned to nobody

[2014-01-05 22:35] devgeeks opened #19 "Needs a logo"
Let's avoid padlocks, hehe

[2014-01-07 20:19] kenmanheimer opened #20 "Login from registering a new account doesn't retain entries"
When you're logged in directly from signup, any entries you try to create don't stick. You have to log out and log back in for it to work.

[2014-01-07 20:40] #20 closed, assigned to nobody

[2014-01-08 01:35] devgeeks opened #22 "Editing an entry, saving, then editing another entry edits the first edited entry"
So the model for the edit view is being set not just for the view currently on screen, but forever.

[2014-01-10 19:52] #8 closed, assigned to devgeeks

[2014-01-10 20:00] #22 closed, assigned to nobody

[2014-01-21 21:05] kenmanheimer opened #24 "Recent crypton "Security Headers" tightening may require us to set env var"
Currently pending Crypton pull request SpiderOak/crypton#159 may require Encryptr to set an env var:

[2014-02-05 02:31] summatusmentis opened #27 "global hotkey for auto-typing"
I want a global hotkey (outside the application), in order to auto-type usernames and passwords, without needing to find them and copy them from the application (KeePass has this).

[2014-02-07 12:02] #14 closed, assigned to devgeeks

[2014-02-08 22:43] #24 closed, assigned to nobody

[2014-02-09 03:47] #10 closed, assigned to devgeeks

[2014-02-09 04:07] devgeeks opened #28 "Remove any workarounds for self-signed certs"

[2014-02-09 04:08] devgeeks opened #29 "Tablet and desktop styles / design"

[2014-02-09 04:17] devgeeks opened #30 "Add a "toast" system"
Need to be able to inform of things like successful entry creation, copying to the clipboard, etc.

[2014-02-09 06:41] #30 closed, assigned to devgeeks

[2014-02-09 07:31] devgeeks opened #31 "Move some functions to the menu in node-webkit"
New entry, settings, etc.

[2014-02-09 09:06] devgeeks opened #32 ""remember me" option"
Something that just remembers a username and then only asks for the passphrase from then on.

[2014-02-10 00:14] devgeeks opened #33 ""Blank state" for no entries"

[2014-02-10 11:53] #33 closed, assigned to devgeeks

[2014-02-10 23:14] devgeeks opened #34 "Unit test all the things"
Currently, there are almost NO unit tests.

Since mocking Crypton would be difficult, maybe the unit tests could actually rely on connecting to a real Crypton server?

[2014-02-10 23:50] devgeeks opened #35 "Need high res version of the ZK logo"

[2014-02-11 08:02] devgeeks opened #36 "Speed up the login process"
Speed it up, or at least give it the appearance of being faster.
- try threading the login submit
- see if any fetching can be done AFTER dropping g the login screen
- profile the various aspects of the initial load

IOS seems the worst hit, or at least iPhones vs recent Android phones (i.e.: my HTC One)

[2014-02-13 09:18] #36 closed, assigned to devgeeks

[2014-02-13 11:27] #19 closed, assigned to devgeeks

[2014-02-19 22:15] #5 closed, assigned to kenmanheimer

[2014-02-20 11:08] #4 closed, assigned to kenmanheimer

[2014-02-21 10:47] devgeeks opened #39 "Create .icns file for mac desktop app, investigate other desktop icon reqs"

[2014-02-21 21:10] #32 closed, assigned to devgeeks

[2014-02-22 02:39] #35 closed, assigned to devgeeks

[2014-02-23 07:54] devgeeks opened #40 "Automate icon / splash images"
Use Holly's hook. It's simpler.

[2014-02-23 07:58] devgeeks opened #41 "Functional testing with Appium"

[2014-02-23 09:05] devgeeks opened #42 "Create app icon images for Android"
Use the new icon png

[2014-02-23 09:07] devgeeks opened #43 "Create app icon images for iOS"
Need full icon images from Andrew

[2014-02-23 09:30] #42 closed, assigned to devgeeks

[2014-02-23 09:43] devgeeks opened #44 "Start looking at Blackberry10..."
...as soon as the "official" server is ready

[2014-02-26 12:41] devgeeks opened #45 "Add replacement view for notification.alert()"
After replacing notification.confirm(), it seems like the next step is to replace notification.alert()

[2014-02-26 20:17] devgeeks opened #46 "Add filtering / searching of the Entrylist"

[2014-03-03 05:07] #45 closed, assigned to devgeeks

[2014-03-03 05:13] devgeeks opened #47 "Need a png version of the encryptr-text logo instead of the svg"
Having weird height issues in Android

[2014-03-03 09:51] #47 closed, assigned to devgeeks

[2014-03-12 05:27] devgeeks opened #48 "Tapping off the new dialogs should dismiss them"
At the very least, tapping on navbar buttons should not be allowed.

Perhaps a clear "covering div" could block their use?

[2014-04-02 00:59] devgeeks opened #49 "Rewrite password generator to weed out modulo bias"
Should instead loop (keep requesting randomValues) until we get what we want (a value corresponding to a char in the charset)

[2014-04-20 07:32] shaynem opened #50 "Signup Error Missing Field:keypairMac"
first of all - if i can can get this running to store my own passwords that would be awesome :D it looks like you have done a great job on this.

installed the latest version of crypton.io as per instructions

however it seems the crypton.js file is different when generated from the crypton server

-- using node-webkit to test -- added a package.json to www directory and created package.json insid

[2014-04-28 23:20] daviddahl opened #51 "Decrypt fewer entries on login"
What is the best way to do this? Discuss!

[2014-04-28 23:22] daviddahl opened #52 "Static route at "/" so we don't report "Attempting to reconnect...""
Or we can use another path? I think that makes more sense.

[2014-04-28 23:45] daviddahl opened #53 "Test iOS on relseased app"
See if this is causing the slowdown on iOS

[2014-04-28 23:48] daviddahl opened #54 "Set up production server certificate"
We need to set up the real cert on the prod server

[2014-04-29 00:03] daviddahl opened #55 "Change registration password box to a plain text input"
This sounds crazy, but its what the cool UX kids are doing!

[2014-04-29 00:05] daviddahl opened #56 "Cordova hook for adding production server address into the crypton config"
:)

[2014-04-29 00:07] daviddahl opened #57 "iOS Perf issues"
Performance lacks and whatnot on iOS!

[2014-04-30 18:41] daviddahl opened #59 "Android build is borked"
Failed to load resource file:///android_asset/www/components/offline-js/themes/offline-theme-default.css
Failed to load resource file:///android_asset/www/components/font-awesome/css/font-awesome.css
Failed to load resource file:///android_asset/www/components/zepto/zepto.js
Failed to load resource file:///android_asset/www/components/underscore/underscore.js
Failed to load resource file:///androi

[2014-04-30 21:05] #59 closed, assigned to devgeeks

[2014-04-30 22:06] ecto opened #60 "JavaScript error on iOS"
this might be due to my environment , still trying to hunt it down

[Error] TypeError: 'undefined' is not an object (evaluating 'container.keys')
(anonymous function) (Encryptr.js, line 229)

[2014-05-01 16:12] daviddahl opened #61 "Android: backgrounding the app logs you out"
Dataloss bug: Something I noticed when I hit "home" button, use another app and use the running app selector to go back, I am logged out - this was problematic as I was halfway through adding a new password.

[2014-05-01 17:30] daviddahl opened #62 "Clipboard failure(s)"
I see this: Uncaught TypeError: Cannot read property 'clipboard' of undefined Encryptr:117

When I try to use the clipboard it does not copy - is there supposed to be feedback when the copy takes place?

[2014-05-01 17:33] daviddahl opened #63 "Cannot focus passphrase input after app is in background"
Backgrounding the app makes the passphrase input unable to focus

[2014-05-01 17:36] #55 closed, assigned to nobody

[2014-05-01 19:17] ecto opened #64 "Wait until keyboard retracts to generate account"
There are expensive synchronous calls in generateAccount that freeze up the DOM on my iPhone. If we setTimeout before calling it, and display a please wait message, it would improve UX a bit

[2014-05-01 22:43] ecto opened #65 "Handle case where account is generated but containers aren't"
This can happen when something gets borked during registration. If the account is generated correctly, after logging in if the entries container isn't generated with the initial {} record, this code path never handled in the app

[2014-05-01 23:18] #52 closed, assigned to nobody

[2014-05-02 00:46] ecto opened #66 "Editing password URL on iOS hides field"
and can't scroll the view to view what you're typing

[2014-05-02 03:31] #54 closed, assigned to nobody

[2014-05-02 03:33] #60 closed, assigned to nobody

[2014-05-02 03:38] #63 closed, assigned to devgeeks

[2014-05-02 19:37] daviddahl opened #68 "focus first input when creating a new entry"
The Label input should be focused when creating a new entry

[2014-05-02 19:39] daviddahl opened #69 "Build private-beta Android release APK"
We need to produce a production build of the Android APK and publish it to the approved users

[2014-05-02 21:14] #50 closed, assigned to devgeeks

[2014-05-02 22:05] daviddahl opened #70 "After login, app shows no entries at all"
Sometimes, you login and there are no entries available. A restart of the app fixes this.

[2014-05-05 20:48] shaynem opened #72 "issue parsing data"
I added approx 70 records
now when I login nothing loads, sits on decrypting entries

1.1mb of data is returned (which is also a concern, although i'm not sure anything can be done about the size of the data due to the encryption i.e what the crypton server is returning)

Uncaught Error: cannot apply patch at "//b13dc031-4c39-8282-0ad9-bd2c8e911a8d": object expected

seems to be related to json di

[2014-05-06 21:26] daviddahl opened #73 "Kill encryptr app on logout"
This is a stop-gap measure for Android when you background the app and come back to log in, no items are shown. Once you quit the app and re-launch it works again. No need to keep it running if this is liable to happen.

[2014-05-07 22:01] devgeeks opened #74 "Release might require a new package ID?"
Currently the app is set as `org.devgeeks.encryptr`. However, if it is branded as a SpiderOak product, that might not be appropriate.

[2014-05-18 23:21] #69 closed, assigned to nobody

[2014-05-19 00:39] #65 closed, assigned to devgeeks

[2014-06-02 19:39] #53 closed, assigned to devgeeks

[2014-06-02 19:59] #62 closed, assigned to nobody

[2014-06-05 14:03] chiiph opened #75 "Focus on the first field when creating a new entry"
When creating a new password or whatever, writing focus should be in the first field.

Pressing Tab focus on this field though.

[2014-06-05 14:04] chiiph opened #76 "Allow to set password length"
It should be possible to make random passwords longer.

The simplest way I can think to do this with the current UI is to have a checkbox "Random password" that disables the password field but shows the random password being generated. And a slider or a number-only field to enter the length, with minimum 8 or something like that.

[2014-06-05 14:06] chiiph opened #77 "Back button should ask if user wants to discard data"
When adding a new entry, if I press the back button it doesn't ask if I want to discard the unsaved data.

I know the save and back buttons are quite far apart to wrongly click it, but it sounds to me like a check before discarding unsaved data should be there.

[2014-06-05 14:07] chiiph opened #78 "Support dictionary passwords"
We should support generating passwords based on words instead of just random chars.

[2014-06-05 14:09] chiiph opened #79 "Register shouldn't display password"
I think we should use two text fields for "Password" and "Repeat password" without displaying it.

We could add a checkbox to allow displaying the password, and if checked the "Repeat password" field could be hidden.

[2014-06-18 15:48] ecto opened #80 "Upgrade docker to 1.0"
http://stealth.openwall.net/xSports/shocker.c

[2014-06-20 16:49] kenmanheimer opened #82 "Using an alternate window.crypton.port causes UI to complain about lost connection"
If your crypton server is running on an alternate port, and you use window.crypton.port to connect to it, then the app operates fine _except_ for the UI complaining about a lost connection and perpetually trying to reconnect.

[2014-06-20 22:55] #82 closed, assigned to nobody

[2014-06-23 04:40] #39 closed, assigned to devgeeks

[2014-06-23 11:29] #75 closed, assigned to nobody

[2014-06-23 11:32] #51 closed, assigned to nobody

[2014-06-23 11:33] #43 closed, assigned to devgeeks

[2014-06-23 13:41] #48 closed, assigned to devgeeks

[2014-06-23 13:41] #68 closed, assigned to nobody

[2014-06-24 16:59] daviddahl opened #85 "About Encryptr menu should have link to the homepage + description"
I think it would help understanding if the "About" dialog had a link back to the Encryptr home page and perhaps a sentence describing the app in layman's terms, something like:

"Encryptr safely stores private data, passwords and credit card numbers in the cloud"

Also, a link to Crypton.io might be nice with a tagline like "Privacy by Crypton" :)

[2014-06-27 00:37] devgeeks opened #86 "Navbar icons remaining in "active" state after touch ends"
Tap an entry, then tap the back arrow.

View an entry again and the arrow icon is stuck in the active glowing state.

[2014-06-27 01:16] #70 closed, assigned to nobody

[2014-06-27 21:25] devgeeks opened #87 "Use container watching to ensure entries are up to date"
Set up events and triggers for changing containers

[2014-07-02 22:13] devgeeks opened #88 ""CVV" label in the add credit card screen looks like "CW""
Bad kerning in the font used for the label makes that label confusing.

Either we need a different label, or a different font for at least the labels.

[2014-07-07 05:27] #88 closed, assigned to devgeeks

[2014-07-07 05:29] #77 closed, assigned to devgeeks

[2014-07-07 14:13] #86 closed, assigned to devgeeks

[2014-07-07 18:18] ecto opened #90 "Disable auto* on inputs, at least username"
The username input on Android capitalizes and autocorrects me. While not the end of the world, I had to retype my username so I'm `ecto` not `Ecto`.

I would recommend something like `autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"`

[2014-07-07 18:22] ecto opened #91 ""No entries yet" is not displayed on Android on first start"
This might be all mobile devices, I don't have my iPhone with me. Post-registration is a completely white screen. I restarted the app and the correct screen is displayed post-login. I created another account after I restarted the app and can't reproduce, so I think it's only on first start after install (I'm not sure what difference that would make).

[2014-07-07 18:23] ecto opened #92 "Add encryption explaination in-app"
People will wonder why it's called "Encryptr", and inquiring minds may crave the details of the cryptosystem before using as their main password store

[2014-07-07 18:26] ecto opened #93 "Add status messages on login and registration"
I believe Crypton has a secondary callback with status messages. If it's difficult to harness that, we can display fun or informative messages on a loop while the user is waiting to lighten the mental anguish of waiting for the generation or decryption of keys. 5-10 seconds on mobile feels very long, and a user who hasn't read the framework code won't know how much work their device is doing - the

[2014-07-07 20:20] #90 closed, assigned to devgeeks

[2014-07-07 22:40] reneelynn opened #94 "Android Add Content fails"
Samsung Mini, Clicking on + opens the menu but none of the options open when selected

[2014-07-07 23:20] reneelynn opened #95 "Android Samsung III mini - takes forever to log in"
App takes forever to log in. Like, long enough that if I don't keep tapping the screen it logs me out.

[2014-07-07 23:30] #94 closed, assigned to nobody

[2014-07-12 20:43] chiiph opened #98 "Don't pop the 'new entry' screen if it fails to save the data"
When the session times out, if you are creating a new entry and hit 'save' it'll fail to save it but the data is discarded.

It should either inform the issue and stay in that screen, or ask for username and password to save the data.

[2014-07-15 21:03] devgeeks opened #99 "Desktop app needs a timeout since it never "pauses""
Mobile apps are sooner or later put into the background. I use this event to basically log the user out if it's for more than 1 minute (ie: not just switching apps to paste).

Desktop has no such event and might not even be backgrounded at all... so instead of leaving the user signed in till their session expires, I have implemented a 2 hour timeout.

Open to arguments as to length instead of 2 ho

[2014-07-15 21:13] #99 closed, assigned to nobody

[2014-07-23 21:23] #74 closed, assigned to devgeeks

[2014-07-23 23:26] devgeeks opened #100 "Not possible for a user to change their passphrase"
This is a Crypton issue.

See: https://github.com/SpiderOak/crypton/issues/65

[2014-07-24 14:21] devgeeks opened #101 "Clear clipboard after n seconds"
For desktop, this will be trivial.

For mobile, I might need to modify the clipboard plugin(s) to allow background access...

[2014-07-24 14:33] #28 closed, assigned to devgeeks

[2014-07-25 14:29] merickson opened #102 "Hide password entries by default"
Currently, password entries are shown by default. Can they be shown hidden by default, with a button to reveal them?

[2014-07-25 14:29] merickson opened #103 "Button to automatically copy password to the clipboard"
Instead of having to manually copy and paste the password to the clipboard, could there be a button to copy the password directly to the clipboard? This would become much more useful as well with #102 , so you never have to reveal a password to use it.

[2014-07-25 15:13] merickson opened #104 "Import from other password managers"
Some of us may have a bajillion passwords locked up in another password manager and may not want to spend a whole day manually migrating things over.

[2014-07-27 14:01] #79 closed, assigned to nobody

[2014-07-27 14:17] devgeeks opened #107 "An optional "notes" field that can be added to any entry"
Perhaps a navbar button that adds a note either as part of entry creation or editing...

[2014-07-28 15:15] dhain opened #108 "Allow multiple windows for separate accounts"
If I have separate work and home accounts, I might want to have them both open and available without having to log out and log back in all the time. Maybe just on desktop versions?

[2014-07-29 03:44] DizzyHSlightlyVoided opened #109 "Categories/tags"
I'd like an option to separate entries by category, i.e. if you have multiple Twitter accounts, put them in the "Twitter" category. Another way to do it would be to have tags, which would mean an entry could have multiple "categories" but would amount to the same thing for the purpose of searching.

[2014-07-29 03:47] DizzyHSlightlyVoided opened #110 "Search function"
Simply put, a keyword search. Maybe options for what to search for, too (i.e. checkboxes for "label", "username", "URL", "notes" ...)

[2014-07-29 10:58] devgeeks opened #111 "Keyboard shortcut for adding a new entry"
Desktop only, obv

[2014-07-29 21:19] reneelynn opened #112 "Time Out doesn't save password"
I finally got it to break once! If you are using it to set up a password for you, and then walk away without saving it and are gone too long, when you come back and try to save it times out and you lose the password you set.

I need to do some more investigation on how long it takes to time out.

[2014-07-30 00:13] devgeeks opened #113 "Investigate Chrome Packaged App port"
There is a clipboard api via `document.execCommand('copy',...)`

[2014-08-01 03:56] ghost opened #114 "Don't ping Android dictionary in password field"
In the Android app, typing in a password, whether the field is visible or not, pings the dictionary for autocorrection. This not only has the capability of messing with the password, but it also reveals the password as you're typing it. Not sure if this is a node-webkit issue, but it's a rather big problem that needs to be resolved.

Oddly enough, this only happens on the register UI, not the logi

[2014-08-03 01:02] mcbaron opened #115 "Android build problems"
After editing www/tests.js to correct the path to bower_components/\* instead of just components/*, the shell:mochadot task finally starts when running grunt debug:android.

However, it fails giving this error:

Running "shell:mochadot" (shell) task

  10 passing (21ms)
  1 failing

  1) Application setup initialize should bind deviceready:
     TypeError: 'undefined' is not a function (evaluating

[2014-08-03 07:48] #114 closed, assigned to devgeeks

[2014-08-03 21:57] devgeeks opened #116 "App needs a notification when a new version is available"
Since we have no personal details of users (email addresses, etc) and only a small proportion of them have gotten the app via an auto updating store (like Google Play), there needs to be a way to inform users that an update is available to the app.

Otherwise security fixes might go unfixed, etc.

[2014-08-04 23:26] #116 closed, assigned to devgeeks

[2014-08-05 04:36] devgeeks opened #120 "Windows crash on exit if closed while checkVersion() is pending"

[2014-08-05 09:11] devgeeks opened #121 "Possible issue with DMG on Yosemite 10.10"
Report that DMG is reported as corrupt on latest beta of Yosemite (Mac OS X 10.10)

[2014-08-06 00:55] #115 closed, assigned to devgeeks

[2014-08-19 16:20] Sentim opened #122 "Offline Access?"
Any way for the app to include an (encrypted) offline storage feature? Right now I'm having to keep both Encryptr and KeepassX installed in case I'm ever without internet access.

[2014-08-20 13:41] redbrain17 opened #123 "Two Factor Authentification for Main Password"
A Two Factor Authentification for the main login password would be nice for example (OTAH)

[2014-08-29 14:40] matart opened #124 "Add notes section to passwords"
I am loving encryptr. The only thing I would like to see is a notes section for passwords. This would allow me to describe it better while keeping the password titles looking clean and organized.

[2014-08-31 21:15] drsn0w opened #125 "grunt test fails on Mac OS X"
Running "shell:mochaspec" (shell) task
Error loading resource file:///Users/liamcrabbe/build/Encryptr/www/components/underscore/underscore.js (203). Details: Error opening /Users/liamcrabbe/build/Encryptr/www/components/underscore/underscore.js: No such file or directory
Error loading resource file:///Users/liamcrabbe/build/Encryptr/www/components/backbone/backbone.js (203). Details: Error opening

[2014-09-03 00:14] #124 closed, assigned to nobody

[2014-09-03 00:24] #73 closed, assigned to nobody

[2014-09-03 00:38] #110 closed, assigned to devgeeks

[2014-09-07 20:20] MichaelJAllen opened #126 "Multiple incorrect credential error messages"
I'm using v1.0.1 and I've noticed that I get three different errors if I enter incorrect passwords...

The first is `Authentication error: Could not parse secret key` and the second is `Authentication error: Incorrect password`. In both cases, I used a valid username. It could just be coincidence, but I seem to always get the first error message with one particular set of wrong passwords and the o

[2014-09-19 02:11] devgeeks opened #127 "Updating an entry incorrectly displays a toast with "Entry unchanged""
This is because it is only checking if the label or type has changed.

[2014-09-22 04:41] #127 closed, assigned to devgeeks

[2014-09-28 21:19] devgeeks opened #132 "Remove the default remembering of the account username"
Should remove the default remembering of the account username, as this would offer more security and if threat model includes having to disclose the username and password, if the username is not shown then the user could access a secondary account that would be less compromising.

Maybe this should be a setting with user choice.

[2014-10-14 03:52] purpleplatypus opened #133 ""TypeError: undefined is not a function" when adding new password entry"
I ran into this issue the other day on version 1.1.0 for OS X.
After entering my master password wrong a couple of times (maybe 3 times), and then finally getting it right, I tried to create a new password entry. Clicked on the plus button followed by the password option, and got the following lovely error:

Uncaught Node.js error
TypeError: undefined is not a function
    at Backbone.View.extend.

[2014-11-24 23:05] devgeeks opened #134 "Notes field doesn't respect carriage returns"
Multiline entries are displayed as single line.

[2014-12-09 21:43] #125 closed, assigned to devgeeks

[2014-12-09 21:45] #72 closed, assigned to nobody

[2014-12-09 21:50] #61 closed, assigned to nobody

[2014-12-09 21:55] #107 closed, assigned to devgeeks

[2014-12-09 21:55] #121 closed, assigned to devgeeks

[2014-12-20 23:41] fbender opened #136 "Secure password sharing"
What many password managers fail to be good at (or be able to do at all) is sharing of password. Consider the use case of a shared account (i.e. organization wide Twitter account): I don't want to replace the shared (Twitter) account password with a shared (password manager) masterkey or a shared-in-clear cloud-backed solution. Instead, I want to be able to securely send a password that only the r

[2014-12-25 14:42] participante0 opened #137 "Error copying to the clipboard some passwords"
You can reproduce the issue (at least) in Windows and Linux.
The password is stored correctly but when you copy it to the clipboard is different.

Example 1:
Saved: `m]$L{ym<!o6sWQwb=bPX{I>Q-M4gx(Yiu;`
Copied: `m]$L{ymQ-M4gx(Yiu;`

Example 2:
Saved: `BRlCEtH<voux;!Y7>CJN{P=.`
Copied: `BRlCEtHCJN{P=.`

Problem: `< >`

These symbols are perfectly valid in several places to write passwords. I would l

[2015-01-03 04:48] #13 closed

[2015-01-03 05:32] devgeeks commented on #100
closed via 107c22efb6170b92a104a014414fd3104e9f2e04

[2015-01-03 05:32] #100 closed

[2015-01-03 05:33] daviddahl commented on #13
w00t!

[2015-01-09 14:01] participante0 opened #139 "Additional warnings"
Encryptr 1.1.0 in Linux Mint 17.1.

1. New Credit Card
2. Label: `Example`
3. Card Number: `0123 4455 6677 8899`
(I wrote the number in groups of 4, as seen on my card.)
4. CVV: `0 12`
(I wanted to write 012 but accidentally wrote a space)
5. Save

The Card Number and the CVV are not saved. It would be good to give notice that is poorly written and not you delete it without warning is displayed. T

[2015-01-09 23:13] colans opened #140 "Integrate with Web browsers"
Are there future plans for browser integration, with browser plug-ins similar to the way [PasslFox](https://github.com/pfn/passifox/) & [ChromlPass](https://chrome.google.com/webstore/detail/chromeipass/ompiailgknfdndiefoaoiligalphfdae?hl=en) do it via [KeePassHttp](https://github.com/pfn/keepasshttp) (for [KeePass](https://en.wikipedia.org/wiki/KeePass))?

[2015-01-10 02:42] stuffandthings opened #141 "Crashes on Linux (Icon size issue)"
Encryptr crashes immediately after running.

[6305:0109/213926:ERROR:browser_main_loop.cc(228)] Gdk: gdk_window_set_icon_list: icons too large
[6305:0109/213926:ERROR:breakpad_linux.cc(1225)] crash dump file written to /tmp/chromium-renderer-minidump-5d61dcb6148bd69f.dmp

Might have something to do with me running 4K, will update here if I find anything

[2015-01-10 13:02] devgeeks commented on #141
:/

Are those the only lines reported?

[2015-01-10 13:04] devgeeks commented on #140
Probably not.

I don't really like auto-fill as it just opens up too many security issues. I would prefer a slightly more cumbersome UX (ie: have to manually go to Encryptr and copy the password you intend to use) than have Encryptr (or a malicious web site) choose for you.

[2015-01-10 13:04] #140 closed

[2015-01-10 13:31] stuffandthings commented on #141
Yes those are the only lines reported :/
On Jan 10, 2015 8:02 AM, "tommy-carlos williams" <notifications@github.com>
wrote:

[2015-01-10 16:15] daviddahl commented on #141
@devgeeks is there a way to produce a debug build of Encryptr? (With symbols and whatnot for webkit?)

[2015-01-10 19:12] daviddahl commented on #140
I imagine you could ask for designs and patches to see how that might work - even if you are not interested in doing it yourself? Perhaps a build step could produce a chrome or firefox extension with all of the existing code plus some glue for the pageload/password/form events?

[2015-01-10 21:55] devgeeks commented on #140
It was papers like this one: https://www.cs.utexas.edu/~suman/publications/suman_pwdmgr.pdf and others that turned me off auto fill.

Also, auto capture (creating an entry when you sign up for something) causes many issues for new users of SpiderOak, etc with existing managers.

This is more of a conscious design decision than a lack of interest.

[2015-01-16 03:13] participante0 commented on #137
Another error related...
As I write this password: `123"abc`, saved well, looks good, I can copy it to the clipboard well. But when I want to edit, it looks like this:.`123`. Another problematic symbol: `"`.

[2015-01-16 05:03] devgeeks commented on #137
Thanks.

[2015-01-16 18:30] participante0 opened #142 "Error message when left open Encryptr for 2 hours"
It happened more than 6 times in Windows 7 and Linux Mint 17, both with Encryptr 1.1.0.

I use Encryptr two minutes, I log off, leave the program opened with the PC turned on. Back at 2 hours (approximately) and I see these messages:

In Linux:
[code]

In Windows:
[code]

[2015-01-16 19:32] devgeeks commented on #142
Thanks.. I appreciate the repro steps. I'll look into it now.

[2015-02-06 16:04] landroni opened #143 "Code audit using Coverity"
Have you considered auditing your code using the automated scan utility Coverity?
https://scan.coverity.com/

Their tool is being used by heavy-hitters like LibreOffice, Linux Kernel, Firefox or Python. It may be worth submitting encryptr to Coverity, too, to watch out for pesky implementation omissions.

[2015-02-07 00:05] #102 closed

[2015-02-07 00:05] #120 closed

[2015-02-07 23:48] devgeeks commented on #142
I think I know what this is... I think it will be fixed in the next version (1.2.0).

[2015-02-08 00:20] devgeeks commented on #111
Global shortcuts were added in nw.js 0.10.0: https://github.com/nwjs/nw.js/wiki/Shortcut

Need to set the verion in the node webkit builder: https://github.com/devgeeks/grunt-node-webkit-builder#optionsversion

[2015-02-11 23:52] mwehu opened #146 "."

[2015-02-12 02:15] mwehu opened #147 "[Debian] "`GLIBC_2.14 [or 2.15]' not found""
The following error occurs when I try to start the program:

[2015-02-20 16:00] participante0 opened #148 ""TypeError: Cannot call method 'push' of undefined" when trying to edit a password entry"
Encryptr 1.1.0 debian package (at least). Steps to reproduce it:
- Click on a password entry.
- Click on the EDIT button before it finishes loading the content. (You need to be fast or use a slow computer).

[code]

[2015-02-20 19:51] devgeeks commented on #148
Thanks. Looks like I might need to disable the edit button until it has finished loading.

[2015-02-21 02:12] mwehu commented on #147
The installed version of Glib is lower, why the installer does not accuse any errors during installation?

[2015-02-21 03:14] devgeeks commented on #147
That is odd. I wonder if the .deb is supposed to have detected that?

[2015-02-21 09:00] #146 closed

[2015-02-21 09:01] #147 closed

[2015-02-22 04:09] gavinengel opened #149 "./encryptr-bin: error while loading shared libraries: libudev.so.0: cannot open shared object file: No such file or directory"
I'm getting this error after downloading this from my Fedora 21:
https://github.com/devgeeks/Encryptr/releases/download/v1.1.0/encryptr_1.1.0-1_amd64.tar.gz

Here is the error:

   ./encryptr-bin: error while loading shared libraries: libudev.so.0: cannot open shared object file: No such file or directory

If it helps any, here is a bit about my system:

[code]

Should I create a symlink to libude

[2015-02-22 10:48] participante0 commented on #148
Thanks for your work on it.

Also happens in Windows.

In the Android app, after touching the edit button, I can't go back to the main screen and I need to clear the cache of the app to use it again.

[2015-02-22 11:04] participante0 commented on #126
I'm not sure if I should write here or in the Crypton issue #320.

There is another error message. When I try to login with an existing account but an incorrect password, very few times I see this message:
`Authentication error: Client key length is less than 256 bits.`
What does it mean?
I wrote more than 12 characters in the password field but less than the amount of characters of the correct pa

[2015-02-23 05:32] devgeeks commented on #149
You shouldn't have to run `encryptr-bin` directly. There should be a shell script wrapper `encryptr` that handles symlinking `libudev.so.1` and setting the `LD_LIBRARY_PATH`

[2015-02-23 05:35] devgeeks commented on #149
I think I really need a README or INSTALL or whatever in the Linux 'other' version

[2015-02-23 15:46] daviddahl commented on #126
this is definitely a crypton error. It is hard to reproduce but is related to SRP.

[2015-02-23 22:37] gavinengel commented on #149
Thanks, and sorry for the trouble!

[2015-02-23 22:37] #149 closed

[2015-02-23 22:38] devgeeks commented on #149
No, thanks for letting me know. I really do need documentation for this stuff, especially when there is no "installer"

[2015-03-06 22:03] participante0 opened #150 "Error when editing a container's label while syncing entries"
Steps:

1. I login and quickly select one container.
2. I wait until completely load the container, but before finish the syncing of entries.
3. I change the label (the first field) from `label_1` to `label_2`. The change is saved, but I still see the old name in the list.
5. I edit the same container, returning the old name (`label_1`), I see this message:
[code]

6 . I re-login. When the syncing

[2015-03-21 08:13] GameplayJDK opened #151 "Optionally display password as stars"
I think it would be good to have a little checkbox/option to change the way passwords are shown. So we can switch between cleartext and stars (*).

[2015-03-21 11:27] devgeeks commented on #151
Something similar to that is coming in the next version. It should be out before the end of the month.

Duplicate of #102

[2015-03-21 11:27] #151 closed

[2015-03-21 13:16] GameplayJDK commented on #151
Thanks, didn't see that one (#102) though I looked for it...

[2015-03-22 23:56] geforceGTX480 opened #152 "Feature Request"
Hi Tommy. This is Thulani (elmach0).
Thanks for the chat over at OFTC.NET. We briefly talked about adding a low res image pic type for say remembering something that is easier to take a picture of.
Or when adding a card, have pre-made images to chose thumbnails from such as master-card or visa images. Not necessarily taking a pic of the card... coz that would be a security issue.
But I do like the

[2015-03-27 10:19] ganon11000 commented on #137
I was about to post this as an issue but I see it's been fixed for next release?

[2015-04-14 17:56] reneelynn opened #153 "Error on longpress copy to clipboard"
Haven't logged in in 10 days or so. Logged in, opened desired entry, long pressed on URL and got this:
![screen shot 2015-04-14 at 12 53 54 pm](https://cloud.githubusercontent.com/assets/3867179/7143485/829024dc-e2a5-11e4-84fd-2fd09bbb5356.png)

(which incidentally doesn't auto-size for existing window size)

Had to exit Encryptr and re-log back in and then it worked.

[2015-04-14 18:19] daviddahl commented on #153
I saw this once recently as well, but restarted and all was well. This looks like a potentially hard to diagnose, infrequent bug - unless @devgeeks knows what it might be?

[2015-04-14 21:03] devgeeks commented on #153
I don't. But I will look into it.

[2015-04-19 21:52] devgeeks commented on #44
I think this might be wasted effort. BB 10.3.1 can run Android APKs quite well, and it's not like the UI would be different like some Android apps...

[2015-04-19 21:52] #44 closed

[2015-04-19 21:55] devgeeks commented on #78
Not sure of the point of this... considering the point of dictionary word passphrases is to be easy to remember, but the point of a password manager is to not need to remember...

[2015-04-19 21:59] devgeeks commented on #12
Not really an issue with Encryptr.

[2015-04-19 21:59] #12 closed

[2015-04-19 22:02] devgeeks opened #154 "Support TouchID on iOS"
Perhaps we can store the credentials in the keychain and unlock with touch id.

However, until the session can last more than a day, it will still mean sending the creds to the server and logging in.

[2015-04-19 22:03] devgeeks commented on #57
Getting VERY close now.

:)

[2015-04-19 22:04] devgeeks commented on #40
I think I am going to incorporate the cordova-icon and cordova-splash utilities

https://github.com/AlexDisler/cordova-icon
https://github.com/AlexDisler/cordova-splash

[2015-04-19 22:05] devgeeks commented on #154
http://plugins.cordova.io/#/search?search=touchid

[2015-04-19 22:23] daviddahl commented on #57
:) !!!

[2015-04-19 22:52] abgoldstein commented on #57
That's great! Anything I can do to help out?

[2015-04-19 22:56] devgeeks commented on #57
@abgoldstein - Don't think so. At this stage, I think iOS is basically working. It just needs heavy testing.

However, it will mean an update to the backend and we have some other ops related changes that will have to be done first.

I am hoping to get it released as soon as I can, but between the backend update, testing and getting a crypto app past Apple (heh), I think it may be a few weeks off

[2015-04-22 14:07] #134 closed

[2015-04-22 14:08] devgeeks commented on #80
The ops are moving... not sure what the plan is for docker...

[2015-04-22 14:09] #80 closed

[2015-04-22 14:11] devgeeks opened #155 "iOS Splash screen seem to be "squashed" on 6 plus"
Just as the app is launching.

Maybe the splash utility isn't getting the sizes quite right?

[2015-04-22 22:23] devgeeks commented on #155
This seems to be happening when I launch the app while I am tethering.

[2015-04-30 11:51] Vaaaaar opened #156 "Add server software for self-hosting."
What happen if someone use your username and passphrase?

That's one of the reason I don't trust cloud.

Please add "server" software for self-hosting.
I prefer host it on my server by myself.

[2015-04-30 11:54] devgeeks commented on #156
The server software is Crypton: https://crypton.io

It's already possible to self-host.

Change this line: https://github.com/devgeeks/Encryptr/blob/master/src/app.js#L33 to point to your Crypton server.

[2015-04-30 11:54] #156 closed

[2015-05-16 23:53] lorensr commented on #155
This happens to me on an unrelated app, only when tethered.

[2015-05-17 11:08] devgeeks commented on #155
@lorensr :/

I wonder if there is any way around it short of the new .xib splashscreens?

[2015-05-17 21:43] lorensr commented on #155
Don't know, I'm just happy that it only occurs in such a rare circumstance.

On Sunday, May 17, 2015, tommy-carlos williams <notifications@github.com>
wrote:

[2015-05-22 16:07] certifiedloud opened #157 "Hashicorp Vault Integration"
It would be nice to have the option of using my own server with the Encryptr client. More specifically, it would be nice to use [Vault](https://github.com/hashicorp/vault) as the backend.

It's a big change for sure, but hopefully not wishful thinking.

[2015-06-02 00:03] holajoyce opened #158 "Can we have full text search on names field and also tagging"
Hi Devgeeks developers,

For ease of use, can we have an index on the names field, and also ability to tag them?

Thanks

[2015-06-02 00:08] holajoyce opened #159 "Can we have a way to export the passwords stored into encryptr?"
Can we have a way to export the passwords stored into encryptr?

[2015-06-02 00:15] holajoyce opened #160 "when reading the notes section, line breaks are not shown"
When reading the notes section, line breaks are not show, only when in edit mode, are they shown.

[2015-06-02 14:14] holajoyce opened #161 "Give the option to hide the password in the password field when editing"
Give the option to hide the password in the password field when editing

[2015-06-02 19:12] devgeeks commented on #161
Even while editing?

[2015-06-02 19:14] devgeeks commented on #160
Yeah, this has been fixed in the latest version. I am working on getting it released as fast as I can.

see #134

[2015-06-02 19:14] #160 closed

[2015-06-02 19:19] devgeeks commented on #159
Yes. I am working on both importing and exporting via CSV.

Related to #104

[2015-06-02 19:22] devgeeks commented on #158
Due to the zero-knowledge aspects of Crypton, a full search might not be possible, however, I am planning on allowing searching/filtering on the main "index" view (the initial list of entries).

See: #46

I am also working on a way to use tags to organise the list better.

See: #109

[2015-06-02 19:22] #158 closed

[2015-06-02 19:47] daviddahl commented on #46
you can probably create an index with http://lunrjs.com/ and store the index in an item, then pull it down on idle at some point and then you can search all entries

[2015-06-02 21:53] holajoyce commented on #161
Yeah I think that would be good

On June 2, 2015 3:12:25 PM EDT, tommy-carlos williams <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-06-02 23:45] devgeeks commented on #161
Interesting. I have added obscuring the password when viewing and copying, etc. That will be in the next version... but I'll have to have a think about how to obscure during editing.

[2015-06-03 23:26] blaisck opened #162 "How to uninstall Encryptr"
I rarely use `Encryptr`, so I want to uninstall it, how to uninstall this apps in Ubuntu Linux? I used 14.04 version.

[2015-06-05 17:13] julianpistorius commented on #162
Run this on the command line:

```sudo apt-get remove encryptr```

[2015-06-06 01:43] blaisck commented on #162
Thanks.

[2015-06-06 01:43] #162 closed

[2015-06-11 00:26] devgeeks commented on #46
:+1:

[2015-06-14 00:03] taecilla commented on #126
BTW, what does `Could not parse secret key` means? I cannot log in.

[2015-06-14 00:05] devgeeks commented on #126
:/

This is a weird error I have seen a couple times... usually when I do something like leave off 1 character from my passphrase.

@daviddahl do you know why this might happen? Is it leaking anything?

[2015-06-15 13:01] smartynov commented on #136
Any updates on this feature? It would be nice to have it.

[2015-06-16 12:46] taecilla commented on #126
I just realized that I was typing a wrong password, but almost identical to the correct one (I write by hand certain numbers too similar to letters). It feels really weird and wrong :S

[2015-06-16 16:40] reneelynn opened #163 "Enhancement: suggest new pass"
Given the frequency of password changes, it would be nice if Encryptr could suggest a new pass without you having to open a whole new entry to get a new suggestion.

[2015-06-16 19:42] 0x24D opened #164 "Uncaught node.js Error"
I was rapidly creating and discarding password entries (needed a password without symbols) and I received this error.

`Uncaught node.js Error`
 `TypeError: undefined is not a function`
   ` at Backbone.View.extend.a_clickHandler (file:///C:/Users/*User*/AppData/Local/Temp/nw1716_22568/js/Encryptr.js:727:11)`
    `at HTMLDivElement.delegator (file:///C:/Users/*User/AppData/Local/Temp/nw1716_22568/

[2015-06-16 20:39] Kemiren commented on #141
I have the same problem right now, though I am not running 4K but a setup with 3 monitors (2 of them with 1280x720 and one with 1920x1080)

[2015-06-17 17:10] geforceGTX480 commented on #152
Hi Tommy. If you need someone to take care of this above, let me know.

[2015-06-21 13:56] mstarkie opened #165 "TypeError: undefined is not a function"
Uncaught node.js Error
Started Encryptr
Added a General entry
Saved the changes
Tried to add a second entry:

TypeError: undefined is not a function
    at Backbone.View.extend.a_clickHandler (file:///Applications/Encryptr.app/Contents/Resources/app.nw/js/Encryptr.js:727:11)
    at HTMLDivElement.delegator (file:///Applications/Encryptr.app/Contents/Resources/app.nw/components/zepto/zepto.js:1824:

[2015-07-19 18:11] crossroads1112 opened #168 "Changes that should be made to the Encryptr bash script (would make a pull request but I can't find it in this repository)"
[Here](http://0bin.net/paste/gISvWpW46tvrF+VN#RgHhAumUOsLe4u4seLGCfFhlFhVvzcOU9e0hqu6Hodt) is the diff (every line shows a difference because there were a bunch of useless spaces at the end of every line that I removed.)

[2015-07-19 18:21] crossroads1112 commented on #168
My patch is wrong. Will resubmit when fixed

[2015-07-19 18:21] #168 closed

[2015-07-19 21:33] devgeeks commented on #168
Well, that shell script really *should* be in the repo. I'll add it today, then you can do a proper PR against it.

I'll also remove any trivial whitespace.

The script is based on "Creating a symlink for your package in the postinstall script" here: https://github.com/nwjs/nw.js/wiki/The-solution-of-lacking-libudev.so.0

[2015-07-19 22:28] devgeeks commented on #168
https://github.com/devgeeks/Encryptr/blob/master/resources/Encryptr-linux.sh

[2015-07-22 04:34] devgeeks commented on #163
:+1:

[2015-07-22 04:38] helveticade commented on #154
Adding to 3.0 launch

[2015-07-22 05:03] helveticade commented on #161
@holajoyce, what would the benefit be to obscuring the password during editing?

[2015-07-22 05:05] helveticade commented on #92
This is an excellent idea.

[2015-07-22 05:11] helveticade commented on #111
This is under discussion for 3.0

[2015-07-22 05:12] helveticade commented on #109
Added to 3.0 feature set.

[2015-07-22 05:14] helveticade commented on #103
Looking into the UX for this for 3.0

[2015-07-22 05:15] helveticade commented on #93
Following up on this for 3.0 with Crypton

[2015-07-22 05:17] helveticade commented on #85
We'll heavily revise the about screen for 3.0

[2015-07-22 05:17] #64 closed

[2015-07-22 05:19] helveticade commented on #29
Design revision for 3.0 on its way.

[2015-07-22 05:21] helveticade commented on #165
@mstarkie we havent had any luck reproducing this but will keep looking into it. Have you had it reoccur since?

[2015-07-22 05:22] helveticade commented on #164
Hey @xDanneee, we'll take a look into it and get back to you.

[2015-07-22 05:25] helveticade commented on #157
@certifiedloud – thanks for the suggestion. You can self host Encryptr with Crypton, but at this stage we won't be supporting other backends.

[2015-07-22 05:25] #157 closed

[2015-07-22 05:26] helveticade commented on #155
This is a cordova problem. We'll raise it with them.

[2015-07-22 05:26] #155 closed

[2015-07-22 05:27] helveticade commented on #153
@reneelynn we haven't been able to replicate it, but we'll keep looking into it. I'll leave this ticket open so you can add additional documentation if it arises again.

[2015-07-22 05:28] helveticade commented on #152
Hey @geforceGTX480, we're looking at how this might work as a feature for 3.0. I'll be in touch soon.

[2015-07-22 05:32] helveticade commented on #148
This issue will be fixed in 3.0.

[2015-07-22 05:35] helveticade commented on #143
Thanks @landroni. We're looking into it.

[2015-07-22 05:35] #143 closed

[2015-07-22 05:36] helveticade commented on #142
Thanks, @participante0, pretty sure this is ready to go.

[2015-07-22 05:37] helveticade commented on #141
@stuffandthings @kemiren We're on it.

[2015-07-22 05:38] helveticade commented on #139
We're on it, @participante0.

[2015-07-22 05:38] helveticade commented on #137
This is fixed for next release @ganon11000 @participante0

[2015-07-22 05:40] helveticade commented on #136
@smartynov @fbender Looking into this for either 2.0 or 3.0. Stay tuned.

[2015-07-22 05:41] helveticade commented on #133
This and #148 are the same issue. It's _probably_ fixed but please reopen this if it crops up again.

[2015-07-22 05:42] #133 closed

[2015-07-22 05:43] helveticade commented on #123
We're discussing this internally @redbrain17 to possibly include this in 3.0

[2015-07-22 05:43] helveticade commented on #122
@Spangenhelm @Sentim we're looking into this for 3.0. It requires more collaboration with Crypton. Stay tuned.

[2015-07-22 05:44] #113 closed

[2015-07-22 05:45] helveticade commented on #112
This needs to be tested for 1.2.0 before we can close it.

[2015-07-22 05:46] helveticade commented on #101
Moved to 3.0.

[2015-07-22 05:49] helveticade commented on #95
Looking into this for 3.0

[2015-07-22 05:50] helveticade commented on #91
This is probably fixed. Will close closer to launch.

[2015-07-22 05:51] helveticade commented on #87
We'll take a lot at this for 3.0

[2015-07-22 05:53] helveticade commented on #78
@chiiph we're going to debate this a lot for 3.0

[2015-07-22 05:53] helveticade commented on #76
@chiiph Adding this for 2.0.

[2015-07-22 05:54] helveticade commented on #57
D O N E

[2015-07-22 05:54] #57 closed

[2015-07-22 05:55] helveticade commented on #49
Yah, lets fix this for 1.2.0

[2015-07-22 05:57] helveticade commented on #34
Sticking with functional testing for the time being.

[2015-07-22 05:57] #34 closed

[2015-07-22 05:59] #15 closed

[2015-07-22 05:59] helveticade commented on #15
3.0 will fix this.

[2015-07-24 07:22] dennisgroves commented on #104
+1
I want to use this bigtime.
argh what 200+ passwords to enter manually?
*NO THANK YOU*

[2015-07-25 15:13] cmeeren opened #169 "Request: browser plugin to auto-fill credentials"
I'm currently using KeePass with the KeeFox Firefox plugin. This auto-fills my credentials when I visit a login form, which means I don't have to open the password database and manually find the relevant credentials.

I'm very open to trying new password database solutions such as Encryptr, but unless it can auto-fill my credentials when I browse the web, it's probably not worth the hassle.

Are y

[2015-07-25 21:16] devgeeks commented on #169
I have no current desire to implement auto-fill. Leaving it out was actually a conscious decision.

https://www.schneier.com/blog/archives/2014/09/security_of_pas.html

http://macperformanceguide.com/blog/2014/20140907_1526-passwordManager-vulnerabilities.html

etc

I totally understand if that is a deal-breaker though.

[2015-07-25 21:31] cmeeren commented on #169
I totally understand the desire to skip features due to security implications. However, I don't understand the security implications in this case. The links you posted seem to problematize password managers autofilling without manual interaction. One could easily make manual interaction requred, e.g. like Keefox (optionally) does, where you click the KeeFox icon in the browser toolbar and select o

[2015-07-25 22:02] devgeeks commented on #169
That would certainly be possible, and preferable to complete auto-fill. However, it would also mean porting Encryptr from a standalone app to a browser extension in order to have access to the web page you are intending to fill in.

Again, totally possible. I will re-open this issue and flag it for review in our next major revision (after the feature frozen 2.0.0 coming out soonish).

[2015-07-27 13:22] Dany0 commented on #140
Can someone please explain to me, how is encryptr any different from storing a .txt file on say, an encrypted dropbox and keeping notepad.exe open if it's not actually going to do that thing people use password managers for.

[2015-07-27 15:43] daviddahl commented on #140
I'll just leave this right here: https://en.wikipedia.org/wiki/User_experience

[2015-07-28 06:41] helveticade commented on #140
@Dany0, @colans – A good password manager absolutely needs some kind of method for easily extracting passwords from it when authenticated. This feature is a pretty popular request (eg #169), and as part of Encryptr 3.0 we'll be building something along these lines. In this case we need to find the right balance between convenience and security.

[2015-07-28 09:46] Dany0 commented on #140
Ah, I guess I didn't search issues all that thoroughly. I'll be watching #169 then.

[2015-07-30 16:53] daviddahl opened #170 "Cannot quit Mac desktop version after minimizing the window"
Apple-Q and File->Quit does not work with the main window minimized. Maybe a feature?

[2015-07-30 17:56] paragonie-scott opened #171 "Encryptr.prototype.randomString Produces Biased Output"
https://github.com/devgeeks/Encryptr/blob/64223f0cb4adba80c8d89f23762bba0c8dc7fa3c/src/app.js#L285-L298

See also:

* https://stackoverflow.com/a/31374501/2224584
* https://github.com/paragonie/random_compat/blob/5aa6689651a58a1f97e87d9e1188e5d90c871cc3/lib/random.php#L393-L447

[2015-07-30 21:08] devgeeks commented on #171
Thanks for this. I saw the mention of this and cringed since it is a known issue (#49).

Also thanks for code example. The whole generation of passwords is going to get better soon (configurability, etc).

[2015-07-30 22:00] chrisidefix opened #172 "Host data on different cloud storage provider(s)."
I am not 100% sure if this is already possible, but similar to issue #156, it would be great to be able to store the data not just locally, but also at any cloud provider I choose.

Dropbox or iCloud Drive or any similar service may come to mind. Would it make sense to be able to sync the data through such a third-party service, which could also somewhat address/improve the offline availability (#

[2015-07-31 00:10] GameplayJDK opened #173 "Windows phone support (through cordova)"
A version for windows phone is the only thing missing to make Encryptr available on all popular platforms out there.
Since windows phone is supported by cordova it should be easy to add support for it.

[2015-07-31 03:18] weswigham commented on #173
[`cordova-plugin-whitelist`](https://github.com/apache/cordova-plugin-whitelist) and [`org.devgeeks.privacyscreen`](https://github.com/devgeeks/PrivacyScreenPlugin) are used and doesn't support windows phone. Both of them would likely need to be updated with WP support.

[2015-07-31 05:45] joevennix opened #174 "Content is not escaped before inserting into DOM"
Reproduce:

1. Save a password with the username `<script>alert(Object.keys(this))</script>`.

Results:

Click to view the password you just saved, you'll get a popup containing:

[code]

Unfortunately this script has the full power of node. This is the downside of privileged script in the DOM :(

`<script>require('child_process').spawn('touch', ['/tmp/owned'])</script>` etc

[2015-07-31 06:13] devgeeks commented on #170
Weird. Probably an nw.js thing. I'll find out.

[2015-07-31 06:18] joevennix commented on #174
If node-webkit supports it, you might look into adding the Content-Security-Policy meta tag to your templates to prevent inline script from running.

[2015-07-31 06:23] devgeeks commented on #174
Funny you should mention that. The 1.2.0 version of the app has CSP. It at least pukes an error if that is attempted.

There seems to be a problem with iOS and CSP. It might be a Cordova issue. I'll make sure that's sorted out before I release iOS.

[2015-07-31 07:12] joevennix commented on #174
Ah, now I see you have the meta tag on master: https://github.com/devgeeks/Encryptr/blob/master/www/index.html#L12
I was using 1.1.0 from the website.

That CSP policy seems excessively lax though, you can load any https:// URL. So you can still inject a script with a src of any https:// link...

[2015-07-31 07:32] dmedvinsky commented on #141
Crashes for me as well. This is the output I get:

[code]

Just one monitor 1920x1080, if that matters.

[2015-07-31 09:45] gbxl commented on #161
I guess it's in case someone is watching over your shoulder while typing it? Seems like an edge case tho, no?

[2015-07-31 11:26] helveticade commented on #161
@gbxl @holajoyce Password obfuscation is an awkward, error-promoting feature in a user interface. In my view, it doesn't provide enough security to justify the drawbacks. We're leaning towards not implementing it, but I'm open to evidence that supports an alternative view.

[2015-08-01 05:44] knoxxs commented on #169
Is anyone working on it? I don't have much experience with security or browser extension but want to give it a try.

[2015-08-01 09:52] medium-endian commented on #169
I totalllz second this. Currently only keefox and lastpass have this kind of functionality and lastpass is proprietary. KeePass is a little hard to install on linux. So, I would be willing to donate just for this feature.

[2015-08-01 10:16] cmeeren commented on #169
@medium-endian, have you read [this](http://keepass.info/help/v2/setup.html#mono)? I didn't have any problem getting it to work (incl. KeeFox - you'll just have to point it manually to the KeePass executable, and perhaps copy the plugin manually to the KeePass folder).

[2015-08-01 11:27] medium-endian commented on #169
@cmeeren I have read this. Still, lastpass is easier and better...

[2015-08-02 02:54] knoxxs commented on #169
Just some issues I faced with last pass:

1. Its slow
2. Its own UI sucks (the options made me do 3-4 click to do anything)
3. Sometimes it bring glitches in the sites (happens with me on payment portal for my [bank] (https://online.citibank.com))
4. Mobile app is not free.
5. Not a good UI to manage your passwords
6. Don't learn my data.

[2015-08-02 17:40] devgeeks opened #176 "Entries staying in index after being deleted"
Deleted entries are even being duped in the entry list until the index is reloaded (log out then back in).

[2015-08-02 18:24] GameplayJDK commented on #173
@weswigham Oh, I didn't know that. It seems to be possible to port both plugins to wp. Maybe I'll look into doing so, but currently it's not worth the effort since there might be some major changes as soon as Windows 10 Mobile is rolling out...

[2015-08-02 19:25] alanfairless commented on #171
FWIW, although there is theoretically a bias, I think not practically.  The relative numbers (the size of the character set, 84, and max int) are so far away from each other to be insignificant.

To explore this, here's a test that counts character frequency with the password generation code over millions of samples.  When I run it, the counts for all the characters are in similar range with each

[2015-08-02 19:29] devgeeks commented on #173
Another issue is that `crypto.getRandomValues()` is only supported from IE 11

http://caniuse.com/#feat=getrandomvalues

[2015-08-02 19:41] paragonie-scott commented on #171
To clarify: do you intend this statement as an argument against making this unbiased?

[2015-08-02 21:33] weswigham commented on #173
It aught to be safe enough to a polyfill the web crypo API in a cordova app, since you don't have the untrusted host and xss issues people always cry about when you think about polyfilling it in the browser. Provided the polyfill can deal with the lack of basic crypto primitives and unknown memory erasure behavior. It _feels_ surmountable in this scenario.

[2015-08-02 22:05] krizzo commented on #103
Interesting, not very intuitive on the desktop app but the functionality is nice to know. Also being able to set a time limit where the clipboard gets cleared would be helpful so we don't have to remember to clear it manually by copying something else.

[2015-08-02 22:09] krizzo commented on #76
Should we have a seporate ticket for password complexity not just length? So we can tick if we want the generated password to contain alpha, number and/or special characters.

[2015-08-02 23:43] helveticade opened #177 "Handle unique/strange password requirements"
Some password policies are wacky. Encryptr should work with all of them.

Off the top of my head, we will need to handle:
- Upper/lowercase characters
- Numeric characters
- Option to remove non alpha-numeric characters
- Length
- Pronouncability

Comments on this are welcome.

[2015-08-02 23:44] helveticade commented on #76
@krizzo Good point!

[2015-08-03 01:49] #176 closed

[2015-08-03 03:48] helveticade commented on #172
Encryptr uses [Crypton](https://crypton.io) to provide zero-knowledge encryption. Due to the nature of how Crypton works, its not really possible to offer other syncing options. You can, however, clone Crypton and self-host. See #156 for more info.

[2015-08-03 03:48] #172 closed

[2015-08-03 05:01] helveticade commented on #176
:tada:

[2015-08-03 06:46] fx5 commented on #171
| To explore this, here's a test that counts character frequency with the password generation code over millions of samples.

The bias is indeed too small to be visible with that number of samples. The chance for each character to become a "!" is 1.1764706112% and for all other characters it's 1.1764705880%.

You generated 10,000 passwords with 10,000 characters each. The chances that at least one

[2015-08-03 10:25] devgeeks commented on #173
@weswigham the issue isn't an API, it's the lack of an actual cryptographically secure PRNG.

[2015-08-03 10:30] devgeeks commented on #173
Is IE11 the web view in Windows Phone 8.1?

That might be possible. I have an 8.1 phone now (it was running 8, but has now been updated). I could have another look.

[2015-08-03 10:59] devgeeks commented on #126
I think for my part I should just homogenise the error messages.

[2015-08-03 11:00] devgeeks commented on #139
This is a fail of input types. It should probably just be a string, but it was nice that on mobile it offered a numeric keyboard...

[2015-08-03 11:03] devgeeks commented on #27
I think we'll put this off for 3.0.0

[2015-08-04 04:13] kenmanheimer commented on #174
Problem with this in desktop browser - in permissive Chrome or plain Firefox:

* In a new or existing account, create a new General entry
* Name the entry `abc"def` and save it
* Visit the new entry and edit it
* When I arrive in edit mode, the name has been truncated at the `"` to `abc`
* This problem happens reliably, in both the general entry's Name and Text fields, but not in the Notes field.

[2015-08-04 05:07] kenmanheimer commented on #174
(Sorry, my last comment belonged in the PR, not this issue.)

[2015-08-04 23:19] #137 closed

[2015-08-04 23:19] #174 closed

[2015-08-06 03:42] kevinSuttle opened #181 "Doc request: registration"
Maybe I missed it, but I didn't see anything about accounts or registration on the site.
<img width="640" alt="Encryptr registration page" src="https://cloud.githubusercontent.com/assets/95672/9103356/69cfd936-3bcb-11e5-8fee-ed985d16d21b.png">

[2015-08-06 11:14] #126 closed

[2015-08-06 11:14] #46 closed

[2015-08-06 11:15] #98 closed

[2015-08-06 11:15] #91 closed

[2015-08-06 11:15] #41 closed

[2015-08-06 11:16] devgeeks commented on #142
Re-open this if it still happens after 1.2.0 is released.

[2015-08-06 11:16] #40 closed

[2015-08-07 11:13] castarco opened #182 "Add more documentation about where the data is sent"
Currently there is no info about to what server(s) is the passwords data sent. I understand the data is encrypted, but for me this isn't enough, I can't be confident on a software that doesn't clearly expose this sort of info to their users.

I don't want to be sniffing my own connections to discover it.

P.D.: It also would be nice if users have the possibility of setting their own storage server

[2015-08-07 15:23] colans commented on #140
This issue is older so I'd normally mark the other one as a duplicate, but there's actually work going on in there now.  Would probably be best to mark this one as the duplicate then, but I can't find a button for it.

[2015-08-10 20:56] ryanleesipes opened #183 "Ubuntu PPA for Encryptr?"
Do the devs have any plans to maintain a PPA repository for Encryptr? Does one already exist? Would be nice to have this so that Ubuntu users would get updates automatically as they are released.

[2015-08-10 23:20] devgeeks opened #184 "i18n / l10n is desperately needed"
German in particular, but other languages as well...

[2015-08-11 04:46] je78 commented on #184
as mentioned on twitter I'm willing to translate to german.

[2015-08-11 04:54] devgeeks commented on #184
:+1:

[2015-08-11 09:36] olluz commented on #140
Actually, imho Autofill is even more secure than copy/paste-ing password!
Let's just assume I have a password for Paypal stored in my vault.
Now, if I click on a legit Paypal link in an email I will be redirected to the real Paypal site and my vault's autologin will kick in and fill in my username and password.
On the other hand if I am stupid enough to click on a link in a phishing mail that will

[2015-08-11 09:44] Dany0 commented on #140
The security problem lies in the fact that detecting login fields in the website DOM is not reliable (and HTML was not designed with this in mind).

I can think of a few solutions that are still convenient but can kind of avoid the problem if you know what you're doing, well no, I dunno really.

@devgeeks another crucial thing to mention is that copy pasting is just another vulnerability and thoug

[2015-08-11 09:53] pedrogfrancisco commented on #140
Don't use autofill, don't use copy paste.

In Lastpass, I do ALT+PageDown and only then the login fields are filled.

I may copy/paste and may autofill but I don't rely on them by default.

[2015-08-11 10:35] Dany0 commented on #140
Yep, basically auto detect with manual "approval". Problem is you have to know what you are doing. A nice solution would protect against stupid.

[2015-08-11 10:40] helveticade commented on #140
@dany0 @pedrogfrancisco how likely is it that someone would have access to your clipboard but not your keystrokes, and therefore remain ignorant to the login details to your password manager?

[2015-08-11 10:43] Dany0 commented on #140
@helveticade well, I dunno, I just don't want to use the same password on every website, but also want to have at least half the convenience of browser autofill. that's it really.

I used dashlane for a week or so, it was convenient but the software is straight from programmer hell. now I use keepass + chrome plugin and I'm okayish with it. it's not great though.

[2015-08-11 10:58] pedrogfrancisco commented on #140
@helveticade I don't believe manual form fill is made using auto-typing nor copy paste.

[2015-08-11 11:07] devgeeks commented on #140
@pedrogfrancisco I suspect LastPass is doing it using JavaScript. The others, no idea.

@olluz the phishing site could have an iFrame to real PayPal and pull your password out when it was filled in.

¯\_(ツ)_/¯

Encryptr's philosophy has been about simplicity. I am trying to stick to that while also providing the best UX I can.

[2015-08-11 11:35] olluz commented on #140
no, I don't think this will work, as Lastpass logs in based on the site URL. If you are on a different site URL Lastpass will not fill in your credentials.

[2015-08-11 11:50] devgeeks commented on #140
LastPass used to be fooled by iframes. It has since been fixed. I am open to finding a way to make password entry easier, but I also want to be careful to do it right.

[2015-08-11 11:51] devgeeks commented on #140
Wither way, the real discussion on this should be happening in #139

[2015-08-11 12:03] helveticade commented on #140
This is a tradeoff between security and usability. Obviously, the best security is one that doesn't use the clipboard, and one that doesn't autofill. Until I see otherwise, I'd advocate for using the clipboard over any kind of autofill. Phishing a password through a malicious website seems much easier than dropping an exploit onto a local machine.

[2015-08-11 12:49] olluz commented on #140
Again, as I tried to explain earlier. Autofill is much more secure than using copy / paste. If you autofill based upon the site URL there is no way the password is exploit by a malicious website. But for the common user who confuses a malicious website for the real deal will copy paste the password anyway.

[2015-08-11 12:55] Dany0 commented on #140
In that way, yes, it is more secure. But it can also be fooled to autofill all kinds of things, and an extra "authorisation" step is not foolproof on the side between the chair and the keyboard. Also, #169

[2015-08-13 05:34] mriehl opened #185 "Donating without paypal?"
Hey there,

thanks for your work on encryptr. I'm blown away by how much thought went into this and would like to donate in order to support future development.

Bitcoin is a no-no for me though.. would you consider accepting a paypal donation?

[2015-08-13 14:25] mriehl commented on #184
I'm a native german and french speaker and willing to help - just point me to stuff that needs to be translated!

[2015-08-13 15:26] daviddahl commented on #184
According to this: https://github.com/devgeeks/Encryptr/blob/master/tpl/editView.html#L7 it looks like Encryptr still needs a bit of preparation for it to be ready to be translated to other languages.

I imagine the first step would be to gather all strings into a JSON object. It might help to create a translation-de.js to collect all German strings together. The hard part here is digging through

[2015-08-13 15:27] daviddahl commented on #184
The basic format of this json object should be:

{
  STRING_NAME: 'translated string'
}

[2015-08-16 14:13] kamilko commented on #182
As I understand whole application, this is not part of Encryptr but Crypton.
But in Crypton doc there is also not too much about this, right now they are waiting for security audit, after that they will provide diagrams and full documentation (more here: [Crypton Audits](https://crypton.io/docs/security/audits.html)).

[2015-08-16 15:57] LostCrew commented on #113
Hi @devgeeks

I am frankly not very accustomed to Google Chrome platforms and APIs. What is the reason to mark this attempt as `wontfix`? Moreover, is there possibility to fetch/save Encryptr entries directly from Google Chrome's clipboard?

Cheers.

[2015-08-16 20:02] daviddahl commented on #182
Crypton uses SRP for authentication so your password is never sent to the server. I will post a link to this code once I am back on my computer, the repo is here https://github.com/SpiderOak/crypton

[2015-08-18 04:36] devgeeks commented on #142
Closed too early.

However, I think I *have* finally found it and fixed it.

[2015-08-22 13:27] helgatheviking commented on #169
:+1: I know it sounds so lazy, but opening encyrptr, searching for the site, and then copying the password isn't anywhere as convenient as Lastpass's autofill. Or if you're really opposed to autofill and sometimes that doesn't work on the Lastpass, but at a minimum when you visit a site LastPass will automatically show a list of username/passwords that match a particular site. Then I can just clic

[2015-08-22 13:49] diessica commented on #169
Agree completely with @knoxxs. I've deleted my LastPass account because of this:
<img width="313" alt="screen shot 2015-08-21 at 00 59 20" src="https://cloud.githubusercontent.com/assets/5303585/9424221/cb9fe2cc-48ba-11e5-95bf-d02e703ec651.png">
**All of sudden**, when I was trying to recover my master password using my logged browser.
We just can't trust it for managing passwords. **I've lost a l

[2015-08-25 11:09] devgeeks commented on #181
What kind of docs would you like to see around registration?

[2015-08-25 14:36] kevinSuttle commented on #181
So, on the homepage, there is nothing mentioned about registration or accounts. It would be nice to have some content explaining that.

[2015-08-27 15:01] shayaknyc commented on #104
+1 for this functionality! I have well over 200 in lastpass.....

[2015-08-29 04:53] tuphamnguyen opened #186 "Request:Database Import and 2 Factor Auth"
I'm thinking of switching to Encryptr but I really do not want to manually enter my hundreds of passwords. It would be great if I could import a LastPass XML file or KeePass Database file.

Also for an extra layer of security, it would be great if there is a 2 factor option be it hardware or software.

[2015-08-29 11:07] devgeeks commented on #186
CSV import / export is certainly coming. It is VERY high on my TODO list.

I am also looking into 2fa options.

I will close this issue, but only because both of these features are being tracked in other issues.

import / export: #104 and #159

2fa: #123

[2015-08-29 11:07] #186 closed

[2015-08-31 14:47] reneelynn opened #187 "Editing an entry before it has finished loading generates error."
1) Log in to Encryptr
2) Select an Entry
3) Before it finishes loading select "edit"
4) Error.

Consistently reproducible.
![screen shot 2015-08-30 at 11 15 56 pm](https://cloud.githubusercontent.com/assets/3867179/9581463/3d4a7048-4fc5-11e5-9f8a-8c36917ab72a.png)

[2015-08-31 15:30] 13o6 commented on #187
can confirm, following the same steps:
![exception](https://cloud.githubusercontent.com/assets/10118516/9582485/e5014042-5005-11e5-8f8b-99fc1f8932da.jpg)

[2015-08-31 15:34] ail1020 commented on #104
+1 for this. I'd like to use this on mobile, but need a way to import my data from another manager (LP).

[2015-08-31 19:42] helveticade commented on #104
This is a critical feature for sure.

[2015-08-31 21:38] devgeeks commented on #187
:+1:

[2015-09-01 12:49] Yahkem commented on #165
This occurs to me when I click directly on the image (e.g. the key next to 'Password') on the 'add new' menu (top right). The left menu (About, Settings, Log out) is working fine.

v1.2.0
Windows 8.1 Home 64-bit

[2015-09-01 13:16] devgeeks commented on #165
Ah. I can reproduce this now.

Thanks, I'll get onto this...

[2015-09-02 01:29] helveticade commented on #187
Do we want to add this to a milestone?

[2015-09-02 03:19] devgeeks commented on #187
Added to 2.0.0

[2015-09-04 02:19] miscreanity commented on #169
[Mitro](https://github.com/mitro-co/mitro) had done a good job with browser plugins. The functionality worked very well in Chrome and Firefox.

It might be a good starting point.

[2015-09-04 06:16] devgeeks commented on #165
Got it..

[2015-09-04 06:17] #165 closed

[2015-09-08 20:00] f3rno commented on #164
Ditto, I also observed this. Created a few passwords in rapid succession before.

[2015-09-09 06:30] simplexion commented on #185
I concur.

[2015-09-12 19:00] cceleri commented on #182
For the Mac OS X app, I found the server hostname in /Applications/Encryptr.app/Contents/Resources/app.nw/js/Encryptr.js. Looks like its defined as

  window.crypton.host = "encryptrservice.crypton.io";

If you run this application yourself, it looks like you should be able to change window.crypton.host to whatever you want in Encryptr/src/app.js. I might work on a solution for myself where I stor

[2015-09-12 19:12] daviddahl commented on #182
Yes, you can indeed run your own backend server if you want to. Is that the gist of what you would like in the readme?

[2015-09-12 19:17] castarco commented on #182
Yep, but it would be even better to alloe change this setting with the GUI
rather than having to modify the source code :p .
El dia 12/09/2015 9:12 p. m., "David Dahl" <notifications@github.com> va
escriure:

[2015-09-18 22:32] #142 closed

[2015-09-20 20:47] jweaver commented on #123
I'm interested in this as well.  I'd actually love to see it work with yubikey (https://www.yubico.com/why-yubico/for-individuals/)

[2015-09-23 19:26] hwsamuel opened #188 "Local storage location?"
Hi, does Encryptr store any of the data locally? If yes, what's the location?

[2015-09-24 10:50] devgeeks commented on #188
The only thing that is stored locally is a cache of the index of your entries (just what you see when you first log in) and even that is encrypted. No actual passwords etc are stored locally yet (I would love to have more offline options, but haven't figured out the best way to do it).

[2015-09-25 14:29] jchan-scc opened #189 "Can we have a way to easily delete items on the frontend"
That is without going into the item itself and then deleting, but right on the listing page?

Thanks ^.^

[2015-09-25 14:30] jchan-scc opened #190 "Search box"
The search box is really really useful, can it be made to always be on the top, and not be hidden when scrolling?

Thanks!

[2015-10-01 20:20] janlimpens opened #191 "Keychain integration"
It would be nice to be able to save the encryptr password in osx keychain.

[2015-10-02 13:51] devgeeks commented on #191
That is coming I hope.

[2015-10-02 13:59] daviddahl commented on #191
So east to do with SecureStorage plugin for Android and iOS: https://github.com/Crypton/statusapp/blob/master/mobileapp/www/js/index.js#L1625

[2015-10-03 09:48] devgeeks commented on #191
Yeah, just not sure how to tap into the OS X keychain.

[2015-10-03 09:53] devgeeks commented on #191
Maybe https://github.com/drudge/node-keychain

[2015-10-04 19:08] AMPBEdu opened #192 "Encryptr Web Client"
It'd be cool if there was a web browser client for devices you might use that you can't install encryptr on. Would this cause security problems? Would be willing to contribute, not sure how far my knowledge would be able to go.

[2015-10-04 21:19] devgeeks commented on #192
Yeah, the issue is primarily one of security.

There is the deliverability problem, mostly. You can't be sure the code delivered to your browser is the code I published since it could be modified along the way.

http://tonyarcieri.com/whats-wrong-with-webcrypto

[2015-10-04 21:22] devgeeks commented on #192
That said. It *might* be possible to distribute a version in a folder that could be run completely locally. There are no native dependancies except for the ability to copy to the clipboard, and most browsers have a way to do that from JavaScript now.

I do 90% of my development on Encryptr literally by opening index.html in a browser locally. It's not the most sophisticated shipped package, but it

[2015-10-05 22:55] theuncoder opened #193 "Blur applied to notes section"
Blur currently only applied to the password field but it would be good to have that option open for the notes field as well. I know I would use this feature, but perhaps we need to also ask other users, maybe I'm using my notes for things other users don't.

[2015-10-05 22:57] daviddahl commented on #193
:+1:

[2015-10-06 02:57] AMPBEdu commented on #192
Oh so you'd download the html file just like any other version of the client, but it'd be able to work without any installation. That would be perfect. Especially because i'm having trouble installing encryptr on a flash drive.

[2015-10-06 03:00] AMPBEdu opened #194 "Installing encryptr on a flash drive."
I tried installing encryptr on a flash drive on windows, however the flash drive doesn't show up in the file selector. Is this done on purpose for security reasons? I would like to be able to put a version of the client on the flash drive so I can use it on school/public computers to access my online accounts.

Also the discussion I made earlier about an html client would fix this issue, but it'd

[2015-10-06 04:30] AMPBEdu opened #195 "Stay on top while copying username."
I don't know how hard this would be, but it would be cool that if you copied the username by double clicking it enables "stay on top" mode until the window is focused again. This way a user can double click the user name, paste it go back to the window without it having minimized copy the password then paste it and the window will minimize this time. Would love this feature.

[2015-10-09 09:51] devgeeks commented on #193
Yeah, not sure I would default it that way, but maybe as a setting?

[2015-10-09 09:53] devgeeks commented on #192
Yeah. I was also thinking it would solve the problem of installing on a flash drive...

[2015-10-09 18:14] ismell opened #196 "Add U2F support."
Would love to do 2FA using U2F. Specifically a YubiKey.

[2015-10-09 20:36] devgeeks commented on #196
Yeah, I have one of the new GitHub branded ones one the way. I will be looking into it to see what's possible.

[2015-10-11 21:23] maxkueng commented on #169
The browser extension could communicate with the desktop app instead of being standalone.

[2015-10-11 22:29] devgeeks commented on #169
Except since this is a JS based app anyway, it's almost less work to just talk directly to Crypton from the extension...

[2015-10-12 03:05] helveticade opened #197 "Design crunch"
Cool checklist:
- [x] Touch friendly menu
- [x] Add branding
- [x] Redo splash
- [x] Assets for touch friendly menu
- [x] Recolour app
- [x] New typeface
- [x] Redesign dialog boxes
- [x] Better transitions between screens in the app
- [x] Restyle Item view
- [x] Restyle new item view
- [x] Better loading animation
- [x] Redo settings page
- [x] Fixed search
- [x] Better empty state
- [x] Restyle

[2015-10-12 20:05] chovy opened #198 "iOS version?"
Why is there no iOS version?

[2015-10-13 00:02] daviddahl commented on #198
There is actually. Needs some tweaks before launching. @devgeeks can tell you more

[2015-10-14 12:10] CodeGnome commented on #113
I just discovered Encryptr today, but it doesn't run on Chromebooks. I saw this issue, and didn't understand the closure reason, or indeed whether it was even possible to have this packaged as a standalone Chrome application (as opposed to a browser extension). Is there a reason this can't or won't be supported on ChromeOS or the Chrome platform? I'd be happy to open a new feature request if this

[2015-10-14 20:36] jchan-scc commented on #193
yes as a setting

[2015-10-14 20:37] jchan-scc commented on #197
also,
- settings for how often to sync the index (everytime it logs in seems like a lot),
- settings for how long before logging out

[2015-10-14 20:38] jchan-scc commented on #161
the way it's implemented now is great!  Thanks!

[2015-10-14 21:50] chovy opened #199 "is there a browser extension like lastpass to fill in forms?"
I really like lastpass feature but I don't trust them that much.

[2015-10-15 03:39] devgeeks commented on #197
@helveticade

Still needed:

- [ ] Save button asset
- [ ] Shadow definition for the "big add button"

[2015-10-16 20:38] edmundlaugasson commented on #199
But what about Encryptr to support that feature?

[2015-10-16 21:09] devgeeks commented on #199
Tracing this in #169

[2015-10-16 21:09] #199 closed

[2015-10-16 21:25] Gitoffthelawn commented on #169
I will +1 this idea and all the people who are discussing it intelligently.

[2015-10-17 15:24] KevinACrider commented on #159
When will this branch be merged into the master branch and available as a feature to the general public through an update?

[2015-10-17 16:51] ryanleesipes commented on #136
I also really like this idea. I am, however, curious if along these lines there might be plans to do self-hosting, even it is is paid. @devgeeks any insight on this? I am CTO of https://mycroft.ai and we really like Encryptr, but sharing + hosting would be big perks to adoption.

[2015-10-17 17:52] daviddahl commented on #136
For an idea on what the UX for sharing looks like, take a peek at Kloak: https://spideroak.com/solutions/kloak

[2015-10-18 21:43] varunkvv opened #200 "Support for multiple passwords"
Websites like protonmail.com have a log in password as well as an encryption password. Would be nice to be able to store both in a single entry.

[2015-10-19 00:22] devgeeks commented on #200
Well, there is always the Notes field... but that isn't blurred, so I get the reluctance to us that...

[2015-10-19 01:23] varunkvv commented on #200
That was exactly my thought as well. :)

[2015-10-19 06:56] helveticade opened #202 "Autocapitalise on for New Passphrase"

[2015-10-19 08:43] labbati opened #203 "Error while launching on LInux Mint 17.2 (64bit)"
Installed .deb package (v1.2.0) and cannot launch the app. I get this error:
[code]

I tried what a few blocg posts suggest for solving the problem (but did not work):
`sudo ln -s /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.0`

Any one else had the same issue?

A few more info:
[code]

[2015-10-19 12:45] devgeeks commented on #198
It's nearly ready. Should be out the first couple of weeks in November :)

[2015-10-19 12:45] #198 closed

[2015-10-19 12:47] #202 closed

[2015-10-19 14:25] daviddahl opened #206 "Feature: generate new password for existing entry"
[09:20]  <ddahl__> inside of edit, add a button next to the password, make user confirm it
[09:20]  <ddahl__> use a actionsheet to confirm?
[09:20]  <devgeeks> ahhh, replace the eyeball in edit with a refresh type icon
[09:20]  <devgeeks> confirm gets you a new pass
[09:20]  <devgeeks> love it

[2015-10-19 14:26] daviddahl opened #207 "After editing an entry return to its detail view"
[09:20]  <ddahl__> also, another UX issue: after creating an entry or editing, return to its detail view
[09:20]  <ddahl__> yes!
[09:21]  <ddahl__> it is unclear if eding somethign adds anything to the clipboard
[09:21]  <devgeeks> that's left over from when the navigation only ever allowed one level deep
[09:21]  <devgeeks> :/
[09:22]  <devgeeks> so edit REPLACES view
[09:22]  <devgeeks> when I a

[2015-10-19 14:26] devgeeks commented on #206
:+1:

[2015-10-19 14:27] devgeeks commented on #207
:+1:

Might not get this into 2.0.0, maybe 2.0.1... I'll have to see how hard it is...

[2015-10-19 20:42] GameplayJDK opened #208 "Navigate entries using keyboard"
I think it would be cool to be able to navigate/control the entries, fields, etc. using only the keyboard. For example use `up` and `down` arrow keys for moving inside the entries, use `enter`/`return` for opening the currently selected entry and use `backspace` or `escape` from there to get back to the entries. Of course this would only be possible for desktop.

[2015-10-19 22:44] devgeeks commented on #208
Yeah, I absolutely want this.

:+1:

[2015-10-19 22:49] helveticade commented on #197
@jchan-scc Noted! we'll be working on these post–design crunch!

[2015-10-19 23:05] helveticade commented on #197
- [ ] New alignment issue with login boxs and the background grid.
- [ ] Redo error messaging with better wording
- [ ] Redo edit pen icon
- [ ] Integrate revised-coloured icons
- [ ] Add support links
- [ ] Revise padding on 'Add new...' drawer
- [ ] Revise padding on dialog box buttons
- [ ] Adjust padding on Item text field titles
- [ ] Bold Item Types on password list view.
- [ ] Center load s

[2015-10-20 10:15] mayerwin opened #211 "Delete account"
How is it possible to delete an account?

[2015-10-20 10:50] devgeeks commented on #211
At the moment, it's not, really. Best you can do right now is delete all your entries.

[2015-10-20 11:30] modedeep opened #212 "Failed Login Limit"
Failed login limit and lock account for a duration of time (20 mins, 30 mins and so on)

If Encryptr doesn't have this yet, i think it's a good idea to add this feature for security reasons. And maybe add camera capture on set failed login limit.

It's better to be safe than sorry.

[2015-10-20 12:48] modedeep opened #213 "Change Search to Symbol/Icon"
Change Search to "Symbol/Icon" (Will change to "search bar" when clicked).

Move Search (As Symbol/Icon) beside "Add Symbol/Icon", for cleaner UI.

[2015-10-20 12:50] GameplayJDK commented on #173
Microsoft Edge does support `crypto.getRandomValues()` (according to the caniuse link), and with Edge becoming the new rendering engine, this shouldn't be an issue anymore (for Windows 10 at least).

[2015-10-20 13:10] GameplayJDK opened #214 "Option to run Encryptr in background"
Yet another desktop-only idea:

Using nw.js' [`tray`](https://github.com/nwjs/nw.js/wiki/tray) Encryptr could be minimized and thus run in background. One wouldn't need to log in every time the window is accidentally closed.

[2015-10-20 13:13] GameplayJDK commented on #169
But if the extension would first request access from the local application, the user would be forced to interact actively, for example by a little message box inside encryptr saying "Hey, your browser plugins wants to auto-fill this and that.".

[2015-10-20 13:17] modedeep commented on #214
Hi, just want to comment on this.

This is a convenient idea. I think it should be optional settings but not by default for security reasons.

[2015-10-20 13:26] helgatheviking commented on #169
I've since moved to Dashlane, which I think handles this very well. On forms that it can fill, you see a little icon in the inputs:

![image](https://cloud.githubusercontent.com/assets/507025/10608233/bff58d56-7703-11e5-813d-b405a19eb3a5.png)

And then when you focus on the input, a list of available logins for that site pops up and shows the available logins for that site.

Login in as:
helga1
he

[2015-10-20 13:57] modedeep opened #215 "Anti-phishing"

[2015-10-20 14:13] #215 closed

[2015-10-20 14:58] GameplayJDK commented on #214
It might be a good solution to add a timeout, if there is none yet

[2015-10-20 15:02] modedeep commented on #214
I think #112 covers timeout.

[2015-10-20 15:48] modedeep commented on #112
Option to choice timeout duration?

[2015-10-20 16:55] modedeep opened #216 "Better, Stronger & more customizable Password Generator?"
Encryptr's current password generator is weak. Will there be a stronger password generator on the works?

One example of a better password generator is what Enpass currently have.

[2015-10-22 16:32] agentofcode commented on #187
This also happens if you delete an entry on one device and try to access it on a different one.

[2015-10-22 16:36] devgeeks commented on #187
I am pretty sure I have this fixed in the upcoming 2.0.0 release.

[2015-10-23 18:52] xrisk opened #217 "Uncaught node.js error when clicking on add password.."
![Screenshot](https://i.imgur.com/BaYulqs.png)

[2015-10-23 18:56] devgeeks commented on #217
Yeah, this is a known issue and should be fixed in the version being released in the next couple of weeks :/

[2015-10-23 18:58] xrisk commented on #217
Oh alright then. btw are there any plans for offline caching of passwords?

[2015-10-23 18:58] #217 closed

[2015-10-23 19:19] devgeeks commented on #217
Plans, absolutely. Not sure where on the roadmap it is at this stage though.

[2015-10-24 05:28] agentofcode commented on #123
Do you have a list of 2fa methods you will be integrating? I'm curious to know if "Google Authenticator" will be supported.

[2015-10-24 05:35] agentofcode commented on #104
Appears LastPass didn't redirect their export instructions and just let it 404. If necessary, here is the new location: https://lastpass.com/support.php?cmd=showfaq&id=1206

[2015-10-24 11:28] #66 closed

[2015-10-24 11:28] #112 closed

[2015-10-24 11:30] #164 closed

[2015-10-24 11:30] devgeeks commented on #164
I think I have this cleared up. Should be fixed in 2.0.0

[2015-10-24 11:32] #187 closed

[2015-10-24 11:47] devgeeks commented on #190
This is sorely needed, but might have to wait till 2.1.0

[2015-10-24 18:35] Jelloman commented on #203
Try the "Other, 64-bit" version, which worked fine for me on Mint 64bit.

[2015-10-24 19:15] blue-bullet commented on #203
Works fine for me on LM 17.2 KDE (64bit) installed via Konsole:
sudo gdebi encryptr_1.2.0-1_amd64.deb

I get a sandbox error when running it from Konsole (Encrypr) so I just run it from the launcher.
Make certain you remember your username/paraphrase.  There is no way to delete a username.

[2015-10-24 20:51] devgeeks opened #218 "Feedback URL doesn't exist yet"

[2015-10-24 20:53] devgeeks opened #219 "Desktop icons"

[2015-10-24 20:58] devgeeks commented on #219
Needs:

- [ ] .icns file for OS X (e.g.: `./resources/icon-encryptr.icns`)
- [ ] .ico file for windows (e.g.: `./resources/icon-encryptr.ico`)
- [ ] high res .png for use in Linux (e.g.: `./resources/icon-encryptr.png`)

[2015-10-25 07:51] helveticade commented on #219
Also added new iOS icons.

[2015-10-25 23:59] helveticade commented on #218
Facebook URL, eg Encryptr on Facebook?

[2015-10-25 23:59] helveticade commented on #216
Yup! This is planned in a post 2.0 update! (see: #49)

[2015-10-26 00:01] devgeeks commented on #216
Well, I assume you mean it is weak in terms of length, etc (the modulo bias has been determined to be minuscule at best).

I am hoping to add configurable lengths and charsets to a post 2.0.0 update as @helveticade said.

[2015-10-26 00:02] helveticade commented on #213
2.0 addresses this, @modedeep!

[2015-10-26 00:03] helveticade commented on #212
Agreed that Encryptr needs this. We’ll look into it for a 3.0 release.

[2015-10-26 00:03] devgeeks commented on #213
Actually, it doesn't. @modedeep is suggesting there be a button for search in the nav like we discussed at one point.

[2015-10-26 00:06] helveticade commented on #213
Ah, sorry, I mis-interpreted this.

There’s been some discussion between @devgeeks and myself about Search’s UX after the 2.0 release.

[2015-10-26 00:08] helveticade commented on #211
Philosophically, I think it’s a good idea to allow users to delete accounts. What do you think, @devgeeks?

[2015-10-26 00:10] helveticade commented on #196
This would be awesome to support USB on Desktop and NFC on Android. 👌

[2015-10-26 00:14] devgeeks commented on #211
I certainly agree. This would need an API for deletion in Crypton, so I raised an issue there:

https://github.com/SpiderOak/crypton/issues/412

[2015-10-26 00:14] devgeeks commented on #196
:+1:

[2015-10-26 00:17] modedeep commented on #216
@devgeeks yes, exactly my point.

Great looking forward to it!

[2015-10-26 00:18] devgeeks commented on #216
:+1:

[2015-10-26 00:28] modedeep commented on #213
@devgeeks @helveticade Correct. Cheers!

[2015-10-26 00:33] modedeep commented on #212
Thanks @helveticade. Yes it is a must  feature. Great,  this is a nice progress. Thanks!

[2015-10-26 11:48] helveticade opened #221 "Site URLs in entries should be shortcuts."
When a user taps or double taps a site URL in an individual entry, Encryptor should offer an alert window offering to open the entry URL.

This could also be a button placed to the top right of the entry, similar in execution to the reveal/mask password button.

@devgeeks, what do you think?

[2015-10-26 16:53] reneelynn opened #222 "Blur out for CC numbers"
Enhancement request:

Encryptr currently blurs out passwords as a default. It would be nice if it did the same thing for credit card numbers.

Running Encryptr 1.2.0
Crypton 0.0.4

[2015-10-26 17:53] devgeeks commented on #222
:+1:

[2015-10-28 03:32] helveticade commented on #222
This is a good idea, @devgeeks, can we add this to the 2.0 milestone?

[2015-11-10 22:33] #218 closed

[2015-11-10 22:33] devgeeks commented on #197
Finished

[2015-11-10 22:33] #197 closed

[2015-11-10 22:34] helveticade commented on #197
🎉

[2015-11-10 22:39] devgeeks opened #223 "Update _latestVersion.json on encryptr.org with 2.0.0 update message"
This file feeds the "new version nag" and can be set with a message letting users know that the update is necessary.

[2015-11-10 22:40] devgeeks opened #224 "Generation of unsigned assets for Android, Mac, Windows and Linux"
Note to self: Windows version will also need the Wixtoolset config

[2015-11-10 22:42] devgeeks opened #225 "Signing of unsigned assets"
Once I generate the unsigned assets (.app, .exe, .apk, etc), someone at SpiderOak will have to sign them (and in the case of Windows, generate the .msi installer).

[2015-11-10 22:42] devgeeks opened #226 "Email the NSA"
As per Kloak

[2015-11-10 22:44] devgeeks opened #227 "Production server needs to be updated"
Just prior to launch of 2.0.0 desktop & android with Crypton server version from "staging" server.

Pretty sure there are schema changes.

Perhaps we could update using dns again?

 - bring down prod
 - get a dump of the user data
 - replace user data on staging
 - test
 - swap the dns so staging becomes prod
 - release the v2.0.0 binaries
 - update staging (what used to be prod) to latest master

[2015-11-10 22:49] devgeeks opened #228 "Complete launch of v2.0.0 for desktop and Android"
We can't submit to the Apple store until v2.0.0 is launched as we need iOS to point to the production server.

[2015-11-10 22:50] devgeeks opened #229 "Generate unsigned ipa for iOS"

[2015-11-10 22:51] devgeeks opened #230 "Sign ipa for SpiderOak"
This sounds like it can be done after the generation of the ipa:

http://dev.mlsdigital.net/posts/how-to-resign-an-ios-app-from-external-developers/

[2015-11-10 22:52] devgeeks opened #231 "Merge 'rebranded' into master"

[2015-11-10 22:53] devgeeks commented on #228
See: https://github.com/SpiderOak/Encryptr/milestones/v2.0.0%20launch%20%E2%80%94%20desktop%20and%20android

[2015-11-12 15:54] daviddahl opened #232 "[iOS] Model 3rd party integration in 1password extension"
See: https://github.com/AgileBits/onepassword-app-extension/blob/master/OnePasswordExtension.m

[2015-11-12 22:54] devgeeks commented on #232
:+1:

[2015-11-16 15:07] fbender commented on #136
Awesome, looking forward to it!

I'd be interested in this, too. You cannot really trust a storage that you do not wholly control. Even (or especially) if the information is passwords for (shared) private accounts.

[2015-11-16 15:09] fbender commented on #136
Assuming you mean the way contacts are added to one's list: How would this work out if you are unable to meet SO in person? Screenshots or video sharing are options however probably relatively insecure. How about an (additional) text-based key exchange method like the one used for the previous version of Firefox Accounts?

[2015-11-16 16:59] daviddahl commented on #136
@fbender the idea around the card sharing with Kloak is that it is done out of band from the server. Any mechanism is fine: SMS, email, etc.

[2015-11-16 17:00] daviddahl commented on #136
@fbender also, self-hosting is possible right now. You just need a Crypton server and a custom build of Encryptr

[2015-11-17 15:21] fbender commented on #136
cool

Here are notes on self-hosting a Crypton server: https://github.com/SpiderOak/Encryptr/wiki/Tip:-Running-Local-Crypton-Server – are there instructions on how to modify Encryptr / create a custom build that works for a self-hosted server?

[2015-11-23 18:25] reneelynn opened #233 "About Encryptr option gone"
v 2.0.0 RC.13 (windows, rpm) no longer has this option.
Was this a conscious decision?

[2015-11-23 18:37] reneelynn opened #234 "Can't delete item"
If an entry only has an item name and no other information it can neither be edited nor deleted.
2.0.0 RC.13 (Win, rpm)

[2015-11-23 18:38] reneelynn commented on #234
![screen shot 2015-11-23 at 1 36 02 pm](https://cloud.githubusercontent.com/assets/3867179/11345809/7154096c-91e7-11e5-9578-87eed3604cdc.png)

[2015-11-23 19:53] reneelynn opened #235 "Eula appears to not be from SpiderOak"
Windows Eula 2.0.0RC.13

![screen shot 2015-11-23 at 12 56 32 pm](https://cloud.githubusercontent.com/assets/3867179/11348011/f01163bc-91f1-11e5-980e-0212a6be2ca4.png)

[2015-11-23 20:04] devgeeks commented on #233
Yes. It was a change in the @helveticade design. It now just has the version at the bottom of the entries list.

[2015-11-23 20:04] #233 closed

[2015-11-23 20:05] devgeeks commented on #234
Oh neat.

I know why... I'll see if I can come up with an easy fix.

[2015-11-23 20:07] devgeeks commented on #235
The app is GPL, that *is* the license... however, that license *does* need to change to the MPLv2

I'll make that change ASAP.

[2015-11-23 20:08] devgeeks commented on #235
Putting this in the iOS milestone as the license only needs to change before we release iOS.

[2015-11-23 22:06] reneelynn opened #236 "No Logout"
Is the loss of a logout function in 2.0.0 intentional?

[2015-11-23 22:10] devgeeks commented on #236
It's not gone... it's in the settings.. and called "Lock Encryptr".

@helveticade is again to blame.

![iphone 6 - iphone 6 ios 9 0 13a340 2015-11-24 09-09-22](https://cloud.githubusercontent.com/assets/554999/11351507/2c68043a-928b-11e5-8006-d9445028f169.png)

[2015-11-23 22:10] #236 closed

[2015-11-24 00:08] helveticade commented on #236
I'm interested to see whether the change of language is confusing or not. The intentions are definitely different, especially as we move Encryptr towards re-authentication when re-opening, rather than sign in/out completely.

[2015-11-24 14:05] reneelynn commented on #236
I definitely viewed "Lock Encrytpr" as a reauthentication setting as opposed to a sign out/in setting.
Many of these questions are because I wasn't informed of the changes happening so I have to make sure each change is intentional.

[2015-11-24 14:36] reneelynn opened #237 "Relatively useless secondary number input"
In the Credit Card option, there's an arrow selector to add numbers in addition to the ability to input them directly. The arrow selection is relatively useless the way it works as you can only move up or down sequentially by 1 and I'd opt for removing it.

![screen shot 2015-11-23 at 1 20 12 pm](https://cloud.githubusercontent.com/assets/3867179/11369791/bd25f754-928e-11e5-8500-35dc588bef91.png)

[2015-11-24 17:23] daviddahl opened #238 "Mac OS 2.0 r13 build feedback link is in app"
The link opens feedback page in app, shouldn't this be external browser?

[2015-11-24 18:39] reneelynn commented on #238
It's not really in app, it just looks like it is because the new window looks almost identical and opens exactly over the Encryptr window. It's a separate window though.

[2015-11-24 18:55] daviddahl commented on #238
well that was bizarre

[2015-11-24 18:55] #238 closed

[2015-11-24 22:31] devgeeks commented on #237
Is this on desktop? Great. It didn't used to do that.

It's because on mobile it is a "number" text box so that a number-preferenced kb pops up.

I can look into fixing it, but it might be better done in a point release after 2.0.0 ships. I would need to make sure that changing it wouldn't mess anything up for entries already added.

[2015-11-24 22:33] reneelynn commented on #237
Yep, desktop only, doesn't show in Mobile, and I don't mind having it in a point release. The only one that seriously bothers me for 2.0.0 release is #234

[2015-11-24 22:34] devgeeks commented on #237
:+1:

[2015-11-27 08:15] chamunks commented on #104
+1

[2015-12-01 15:35] reneelynn opened #239 "Logging In - mobile"
To login to an established account, enter "Username" and "Passphrase".

in landscape view in mobile you cannot see "passphrase" unless you minimize your keyboard.

[2015-12-01 15:45] daviddahl commented on #239
is this on iOS as well as android? We can build iOS to not allow landscape view

[2015-12-01 15:50] reneelynn commented on #239
yes

[2015-12-01 15:56] reneelynn opened #240 "iOS blank screen"
Encyptr 2.0.0 RC13 passed tests on my iphone 6 originally.

Today the app is opening to a blank white page. I have tried reinstalling as well as deleting the app completely and then installing again.

[2015-12-01 16:30] daviddahl commented on #240
So it consistently will not start?

[2015-12-01 16:30] daviddahl commented on #240
try restarting the device too

[2015-12-01 17:00] reneelynn commented on #240
no joy

[2015-12-01 17:04] daviddahl commented on #240
For the record, it works fine on my iPhone6 iOS 9.1

[2015-12-01 17:11] daviddahl commented on #240
you should uninstall it and re-install it

[2015-12-02 07:01] devgeeks commented on #234
This should be fixed in 140ee07b1287b3df57f8ce84f6e90fab570df915

[2015-12-02 07:01] #234 closed

[2015-12-02 19:14] edent commented on #177
Some policies prevent consecutive characters from matching (`Look`) or from sequences (`abc`, `12345`, etc).

It's probably impractical to add those as options - but a big "Pick New Password" button would hopefully be enough to choose another random string.

[2015-12-02 19:15] edent commented on #177
Characters outside the ASCII range should also be an option.

E.g. A password of  `🎉🎸🍪🐹🐟🍈` or `Bill莎士比亚`

[2015-12-05 01:21] fowlslegs opened #241 "Please sign your packaged releases or at least use a cryptographic hash that isn't broken"
MD5 is bad news.

[2015-12-05 04:28] devgeeks commented on #241
The Windows, Android and OS X packages *are* in fact signed. The Linux ones are not currently, but probably will be in the very near future.

The MD5 hashes you are referring to are just checksums to ensure the file you are downloading is the one you mean to. Even with MD5, creating a collision file would still take an enormous amount of computing effort.

[2015-12-05 04:28] #241 closed

[2015-12-08 04:33] AMPBEdu commented on #192
Any eta on this? <3

[2015-12-08 05:01] devgeeks commented on #192
No ETA yet. I have found a nice JS clipboard library that should be one of the only things holding it back.

[2015-12-08 17:26] HellerCommaA opened #242 "Node crashed while changing password."
Node crashed while changing password from a complex (20+ character password) to a 10+ character password. OSX 10.11.1

`Uncaught node.js Error

TypeError: Cannot read property 'toJSON' of undefined
    at changePassphraseCallback (file:///Applications/Encryptr.app/Contents/Resources/app.nw/js/Encryptr.js:2218:72)
    at file:///Applications/Encryptr.app/Contents/Resources/app.nw/js/crypton.js:822:

[2015-12-08 18:16] daviddahl commented on #242
I just tried to reproduce, but was unable to. Is this with Encryptr 2.0? Were you able to re-login?

[2015-12-08 18:35] HellerCommaA commented on #242
Yes, it looks like the password was actually reset. I'm on 2.0.0.  ...Not entirely sure what happened to be honest. I also just attempted to reproduce and wasn't able to.  Will close the issue.

[2015-12-08 18:35] #242 closed

[2015-12-08 18:37] daviddahl commented on #242
Ok, feel free to re-open if it happens again. I am curious what commit of Crypton @devgeeks is using in this 2.0.0 build

[2015-12-08 20:12] devgeeks commented on #242
I don't think it's a Crypton issue... the `toJSON` seems backbone related...

@HellerCommaA - Make sure to reopen if it happens again :/

[2015-12-08 20:28] HellerCommaA commented on #242
Will do.  Wish I had more info to give you guys. Sorry :cry:

[2015-12-08 23:07] reneelynn commented on #239
resolved in iOS in 2.0.0-final

[2015-12-08 23:10] reneelynn opened #243 "Card entry allows non-numeric characters"
It allows you to type non-numeric characters, but then fails to save them. ie, if you save 2989494)847, it appears to save but when you next click the entry it is blank.

[2015-12-08 23:49] devgeeks commented on #243
Yeah, the card input needs to be looked at.

It's not working out for me at all. The issue is making sure the existing entries get migrated if we change it.

[2015-12-08 23:50] devgeeks commented on #239
I made iPhone locked to portrait, but iPad allows landscape.

[2015-12-08 23:50] #239 closed

[2015-12-09 05:36] kevinmickey opened #244 "Unable to sign CLA"
I'd like to make some pull requests, but I may have been unable to sign the CLA successfully.  After entering my info, I see "We're sorry, but something went wrong."

I'll let CLAHub know, but just wanted to let you know too.  Are you able to verify whether my signature went through ok?

[2015-12-09 05:39] devgeeks commented on #244
Thanks for letting me know :/

If you get no response from them, let me know and maybe we can figure something out.

[2015-12-09 23:25] exadeci commented on #169
Dashlane is insanely expensive but it does work well, they went with the extension linked with a stand alone soft (that launches a service) but the hole package uses arount 200-300Mb.
A nice feature they got is "password changer" it's a feature on the soft that allows you to change the supported websites (only a dozen for me) password in a second (everything is done in the background).

[2015-12-10 03:32] devgeeks commented on #244
@kevinmickey Any luck with the CLA?

[2015-12-10 03:45] kevinmickey commented on #244
Still get the error.  I posted here but no response yet: clahub/clahub/issues/56

They appear to be undergoing some changes / uncertainty in maintenance (clahub/clahub/issues/111).

[2015-12-10 03:58] devgeeks commented on #244
*sigh*

It looks like the CLA Hub stuff might be a bit abandoned.

We'll have to look for a new way.

@merickson / @daviddahl  – if you have any ideas?

[2015-12-10 05:25] merickson commented on #244
More details please?

-- Matt

On Dec 9, 2015, at 21:58, tommy-carlos williams <notifications@github.com<mailto:notifications@github.com>> wrote:

sigh

It looks like the CLA Hub stuff might be a bit abandoned.

We'll have to look for a new way.

@merickson<https://github.com/merickson> / @daviddahl<https://github.com/daviddahl> - if you have any ideas?

-
Reply to this email directly or view it o

[2015-12-10 07:20] devgeeks commented on #244
@merickson If you remember a while back, I set up CLA Hub to collect Contributor License Agreements and assign copyright before allowing developers to contribute to Encryptr.

It seems like this service is a bit abandoned. Therefore, SpiderOak will need some other method of collecting these CLAs. It could probably be as simple as just an email address that they are sent to, etc... I can get the CL

[2015-12-10 12:18] elya5 commented on #172
How about having an option in the GUI to set your own server address? Then it would not be necessary for users to change that line again after every update.

[2015-12-10 14:25] merickson commented on #244
That doesn't sound bad. Please do.

-- Matt

On Dec 10, 2015, at 01:20, tommy-carlos williams <notifications@github.com<mailto:notifications@github.com>> wrote:

@merickson<https://github.com/merickson> If you remember a while back, I set up CLA Hub to collect Contributor License Agreements and assign copyright before allowing developers to contribute to Encryptr.

It seems like this service is a

[2015-12-10 23:39] devgeeks commented on #172
:+1:

[2015-12-12 04:59] fcheslack commented on #182
There also does not appear to be information, before logging in. Even adding the "By SpiderOak" to the unlock/registration pages would be an improvement. Even better would be to include a link to some short text about where information is being stored.

Without being told, I assume an app of this nature primary stores things locally and does not require an internet connection. I understand the rea

[2015-12-12 21:58] FranciscoG opened #245 "New UI comments"
First I'd like to say that overall I enjoy the new UI.  It's definitely an improvement and looks more modern.

I have 2 quick comments about the new UI.  Nothing major and take it with a grain of salt.  I'm not a designer, just a user.

First,  on the main/home section where it lists all your items.   The placement of the categories name on top of the item name, plus the similar size, makes it rea

[2015-12-12 22:48] dllud commented on #122
+1

[2015-12-13 02:08] franckl commented on #122
+1 and offline for mobile as well
On Dec 13, 2015 11:48 AM, "David Ludovino" <notifications@github.com> wrote:

[2015-12-14 22:32] devgeeks commented on #245
Yeah, I agree with both of these.

@helveticade ?

[2015-12-14 22:33] devgeeks commented on #245
Note: the odd "menu at the bottom, button at the top" is a cross platform issue. The + button is also on the bottom on mobile. But it looked wrong on desktop :/

[2015-12-15 03:27] revjim opened #246 "Feature request: Option to set login timeouts"
I'm a new user to Encryptr (Linux desktop + Android mobile). So far I have found it very frustrating that every time I need a password, I click on my (open) Encrptr app only to find out my login has timed out.

I chose a very long, very secure password for my Encryptr account, so it's quite a hassle to type it in every time I need a password for a website. It makes it painful to log in to everythi

[2015-12-15 06:58] helveticade commented on #245
Thanks for the feedback, @FranciscoG. Both points are valid. Some thoughts:
1) Re: Labels – We'll be working on this over the coming releases as we gather more feedback of what people want in their password manager (eg, rich icons, custom labels, no labels, etc).
2) Definitely this should behave differently on desktop, eg a drop down list. We're also experimenting with other ideas, too, such as al

[2015-12-15 07:38] devgeeks commented on #246
:+1:

I want to add this as well as touchID for iOS.

As long as the user is aware of what they are doing.

[2015-12-15 22:37] lachlanjholmes commented on #104
+1 for this feature.

[2015-12-16 15:28] AntoineTurmel opened #247 "Partial delete, some items stays and can't be deleted."
I have an issue sometimes when deleting an item : "Error, Container has not changed" with button "Try again".

When I click on an item I have "LOADING..." and it's loading forever, I can't remove it from my account.

(Windows, version 2.0.0)

[2015-12-16 21:33] devgeeks commented on #247
:/

I'll see what might be causing it. Maybe when I push 2.0.1 to fix the scrollbars I can have the app clear out entries from the index that don't really exist.

[2015-12-20 07:03] poutros opened #248 "Email input box"
Since a lot of services require an email AND a username, it would be good if an email textbox was included.

[2015-12-20 09:46] devgeeks commented on #248
Happy to add that in. Till then you could use the notes field.

[2015-12-22 14:12] jchan-scc opened #249 "feature request: create barcode"
hi

Love this application so far.  It'd be great if we can also use it to store loyalty cards, and that the app can generate bar codes.

Thanks
Joyce

[2015-12-24 11:45] GameplayJDK opened #250 "Double Scrollbar on Desktop"
I just installed 2.0.0 and the new UI looks all nice and works well. But for me there are two scrollbars visible:

![selection_001](https://cloud.githubusercontent.com/assets/4069263/11994258/90530c70-aa3b-11e5-96c3-942ed2aedd8c.png)

Another little enhancement could be made with the the grayed out background. When clicking on the settings icon (left) while in the + menu (right) the settings open,

[2015-12-24 14:05] dgiffin opened #251 "Search Doesn't Search Many Fields"
Seems that the search field doesn't search any fields other than the Label - would be useful to be able to search on Notes etc too.

[2015-12-24 14:08] dgiffin opened #252 "Manual Sync Option?"
Would be useful to have an option to tell Encryptr to go and sync now, as well as syncing when the app is opened.

[2015-12-24 14:12] dgiffin commented on #250
That New + Settings issue happens on OSX and iOS clients too.

[2015-12-24 18:56] devgeeks commented on #251
That's not currently possible. Try to think of the search as for of a filter. It filters the list of entries. The actual entries are not loaded at that time.

[2015-12-24 18:57] devgeeks commented on #252
:+1:

[2015-12-24 19:05] dgiffin commented on #251
Ok, thanks for the explanation, sorry for misunderstanding :-)

[2015-12-24 19:05] #251 closed

[2015-12-25 05:01] devgeeks commented on #251
Not a problem. I mean, a full real text search would be great, but that would be a big change.

[2015-12-30 10:55] chauffer commented on #104
+1 for this, I'd move but I cannot

[2015-12-30 21:02] jchan-scc opened #253 "decryption on my android is slow"
Is there anyway to speed up the decrption?  I'm  wondering if encryption / decrpytion & sync can be done on a per entry basis

[2016-01-01 06:40] aprikyblue commented on #122
+1
it's necessary, I will not use it until it can work offline.

I am really looking forward to that, so I hope it will come promptly.

[2016-01-02 23:18] AMPBEdu opened #254 "Save passwords locally?"
Is there a reason encrypted passwords aren't stored locally for offline access?

[2016-01-04 02:40] deanfra opened #255 "Passphrases no longer work after using change password (Desktop Mac)"
Unfortunately my original and new passphrases no longer work after using Change Password.

**System:** Mac OSX / Yosemite
**Username:** deanf
**Steps taken:** 1. Open change password, enter old and new passphrases into fields. I got an 'Original password is incorrect' message 2. Closed app and opened and neither passphrases now work

[2016-01-04 02:44] #255 closed

[2016-01-06 23:40] btnpushnmunky commented on #104
+1 here too!

[2016-01-07 20:35] radumas commented on #101
keepass2 (and specifically keepass2android) both implement this. [Keepass2android](https://keepass2android.codeplex.com/) uses its own keyboard to copy/paste, which bypasses any attempt by malicious apps to read the clipboard.

[2016-01-10 22:56] devgeeks commented on #253
Items are already encrypted/decrypted individually, the problem is the "index" (the list of entries) that syncs when you open the app.

I have some plans for speeding this up a great deal. It's high on my todo list.

[2016-01-10 22:56] #253 closed

[2016-01-14 21:41] 4oo4 commented on #222
Running v2.0.0 with Crypton 0.0.4 as a desktop client, and I'm not seeing that this was implemented, just wondering where this was at?

[2016-01-18 22:10] TheRook commented on #136
I wish I had a secure way to share passwords,  aah how I loathe LastPass.

[2016-01-18 22:11] devgeeks commented on #136
Yeah. This has to be our highest priority after import/export.

[2016-01-19 02:12] Daktyl198 commented on #104
This feature request has been open for 1.5 years now... any progress updates?

[2016-01-19 02:30] devgeeks commented on #104
@Daktyl198 - it is my top priority new feature now that iOS has been released.

[2016-01-20 06:34] LauritzT commented on #248
:+1:

[2016-01-29 03:20] MauriceButler commented on #104
@devgeeks let me know if you need a hand I am happy to help out as this is my blocker to adoption currently (AKA my dislike for re-keying MANY entries)

[2016-01-29 03:22] helveticade commented on #104
@MauriceButler We'd absolutely love assistance with this. Please feel free to help out!

[2016-01-30 20:46] mjgardner opened #256 "iOS Safari action for auto-fill"
Similar to #169, I would like to see support in the iOS app for an action available on Safari to fill the current web page with the matching username/password. Since this requires manual triggering (at least two taps) there should not be the same concerns as we're initially raised in #169.

[2016-01-31 00:56] MauriceButler commented on #104
I have rebased the `issue-104-import-export-csv` branch with master and all seems well. @devgeeks just checking if you have started anything with this yet?

If not I am thinking the best approach might be as I am not familiar with the code base or Crypton that I work on parsing the exported data from the popular managers into some common format, and you work on the actual bulk import stuff?

Let m

[2016-02-03 20:27] Valkoinen commented on #247
I have absolutely the same problem. After "Error. Container has not changed" item will start to load, but never finish. Can't remove it.
Linux Mint 17.2, Encryptr v2.0.0

[2016-02-04 06:10] devgeeks commented on #247
Yeah, this need a fix asap. I'll see what I can do.

[2016-02-04 06:28] devgeeks commented on #256
Yes. I agree that this might be interesting.

[2016-02-06 02:55] ianriver opened #257 "Allow for use with tor?"
I am not sure if this is something that would be considered useful or not, but there is no harm in asking.

Are there any plans to add support for routing traffic through Tor?

[2016-02-07 05:48] helveticade commented on #256
Given how clunky copy/pasting items on a touchscreen is, I think it's a good idea too

[2016-02-10 17:01] tyrel commented on #169
+1 here from me for a browser extension, at least, to allow me to click a button to fill in a login form. I realize there are security concerns here, but you really have to find a balance between usability and security, as always. However, you have to let a user determine where they want that balance to be. If you force it to be difficult, a lot less people will use it. If you make it easier, more

[2016-02-11 11:41] kamilko commented on #184
I was trying to translate this project, but after done with tpl/* files I looked into src/views/*. All dialogs, error messages, hints. There is so much strings to translate in .js files that first it should be prepared - tpl/ files are just easiest part.
Also please provide standard for translation. Not only JSON representation in file, but also <STRING_NAME> format (i.e. string should have file n

[2016-02-11 13:34] MauriceButler commented on #184
If looking for a translation format I have been using [see-threepio](https://github.com/see-threepio/see-threepio-js) in a few projects and it works well.

[Demo page here](http://see-threepio.github.io/see-threepio-js/)

[2016-02-11 14:30] ratmav commented on #122
@devgeeks, @helveticade: is there an issue already on crypton for this? i'd like to start looking at it to see if i could help.

[2016-02-12 16:25] fisxoj opened #258 "Encryptr asks for a card type, but doesn't use it"
Hi!  Thanks for making this neat tool!

I was putting my debit card into Encryptr the other day and finished typing in the information, including what type of card it was

![screenshot from 2016-02-12 10-31-46](https://cloud.githubusercontent.com/assets/1530842/13011279/0bec411c-d174-11e5-948f-9758ed05ce1b.png)

and saved the information. Then, I was presented with a screen that had this on it

![

[2016-02-12 20:18] devgeeks commented on #258
In this case, the Type field is more "MasterCard or Visa", but the entry type is still Credit Card.

Agree that is probably confusing.

[2016-02-14 16:47] bwafflemaker commented on #247
I've seen the same on iOS, but I also had my vault open on my Ubuntu machine simultaneously.

I'm also seeing the behavior mentioned where a deleted item comes back to the list but never loads if selected.

Thanks, @devgeeks!

[2016-02-14 22:42] devgeeks commented on #247
Yeah, I *think* I know what is happening. I'll need to first fix it so it doesn't happen anymore, then make a "migration" script that runs when you upgrade to the fixed version that cleans out any rogue entries.

[2016-02-15 16:28] GarvielLoken opened #259 "Feature Request: More Organization Options"
Just tried out Encryptor and like it so far. I have a feature request to be able to folders (e.g., banks, emails, shopping, forums, kids school, etc.) to keep entries separated. This way, one's online bank entry isn't lost among many online forum password entries. I have used RoboForm and KeePass (using KeePass now) and folders are very helpful to keep logins organized (I have > 100 logins).

[2016-02-22 00:20] PeterSprague commented on #254
I like the app and currently use it as a replacement for encrypted dropbox folder.  The lack of local storage bothers me every time I use the app.  While i support Spideroak as a business, what happens if they flounder?

We need to have at least an option invoke encrypted local storage and/or backups.  Another option would be to be able to specify a secondary cloud storage provider.

As I said, I

[2016-02-22 02:54] devgeeks commented on #254
Offline is very much on the roadmap.

I agree it's an important feature.

[2016-03-09 03:15] btnpushnmunky commented on #159
I too would very much like to see these updates.

[2016-03-10 10:58] lenowng commented on #259
+1 Categorizing and Grouping feature for more tidy look and accessibility.

- Consider moving out the "Lock now" button from Settings section to Home section for convenience.
- Adding an auto lock out feature after 'x' seconds/minutes since the data inside is sensitive and humans tend to make mistake (might just leave the seat forgetting to lock his computer).

[2016-03-21 06:13] jzbz opened #260 "Feature request: Chrome app"
Since the project is using Apache Cordova, are there any plans to release a Chrome app? This would allow Encryptr to run on Chrome OS as well as simplify the installation/update process for users running the Chrome browser on Linux/OS X/Windows.

[2016-03-30 23:02] devgeeks commented on #260
No current plans, but it's possible.

[2016-03-31 23:10] chrisryan10 commented on #254
Is there any timeline for this roadmap/feature?  Is it being worked on actively?

An offline mode would help me a lot - I'd like to store data that I may need access to when I have no internet options.

[2016-04-03 20:36] ChrisFernandez commented on #169
+1 for browser extension, at least have it as an option do not enforce it.. that way people can choose
when and how to use their own security, should be up to the user to have the tools and options but not to be forced to use one or another, so yes, I will like a extension so I can choose which what sites I have it auto fill and with what sites I want to use copy/paste or some other solution the m

[2016-04-04 05:45] ChrisFernandez commented on #104
+1 cant migrate until I can move all my info from lastpass, I know how to export to csv, but I need for encryptr to have a way to import it. or instructions.

[2016-04-05 14:48] bprichar commented on #260
This would be greatly appreciated.

[2016-04-07 05:48] jrklasen opened #261 "4k display"
great tool, I like it. However at my Linux Mint machine with a 4k display it is scaling badly.

[2016-04-07 07:37] blue-bullet commented on #261
On 04/06/2016 11:48 PM, Jonas Klasen wrote:

To scale is like a fish I do not eat.

[2016-04-13 00:54] rjgonza commented on #159
This would be an awesome feature

[2016-04-19 11:14] lordkitsuna commented on #169
I understand security concerns, however there are so many ways to get around the initial concern.  simply not making it automatic but making an easy button either in the password field or somewhere on the browser that I can click to manually invoke autofill so that it does not do it on a whim. Sad to say it's just far too God damn inconvenient especially on mobile to have to manually copy-and-past

[2016-04-22 15:12] lhoss commented on #254
👍 for this feature  (without being able to run it on-premise, we need to look further)
found this on: http://venturebeat.com/2015/10/13/7-open-source-password-managers-to-try-now-that-logmein-owns-lastpass/

[2016-04-23 06:09] benjefferies opened #262 "Credit card scanner"
It would be cool if you could scan in your credit card details saving having to write out some of the details manually. Looks like there are some plugins out there that do this from https://github.com/card-io/

[2016-05-03 14:39] FranciscoG commented on #182
+1 on adding a setting to change the Crypton server if you want to roll your own. Maybe put it in an advanced settings area.

I'd also like to expand on this request for more documentation and more clarity.  Here's what I mean:

- I'm guessing from looking through SpiderOak's Github repos that SpiderOak created and owns Crypton and Crypton.io.  This relationship should be noted with clarity in the

[2016-05-11 23:28] Scath-Enfys commented on #261
Are you opening in fullscreen or something? What do you expect with 4k...

[2016-05-11 23:32] Scath-Enfys commented on #254
@devgeeks
perhaps a backup / restore feature would be a good start? We could build off of that and start working towards local use from there...

[2016-05-12 02:51] Scath-Enfys commented on #262
I don't see the need for it, but if you want to create a pull request for it go ahead...

[2016-05-12 07:31] jrklasen commented on #261
It is independent of fullscreen or not.

I'm using it at a Linux mint 17.3 with Cinnamon desktop and a HiDPI monitor. The text and symbols from Encryptr are half the size than for other software, making it hart to read. At my desktop with the same configuration, but a non HiDPI monitor, everything looks normal.

[2016-05-12 23:33] simplexion commented on #259
Why do we need this feature? Isn't this why there is the ability to search? Nothing is lost if all that is required to find it is a few keystrokes.

[2016-05-13 02:57] Scath-Enfys commented on #261
Since the project is written in mostly HTML and JS, have you noticed any suspicious font-size parameters?

[2016-05-13 03:47] tilgovi commented on #261
This is a real problem. I appreciate the skepticism, but if you don't have experience running Linux in a high DPI environment, you should trust those of us reporting issues here.

Xrandr, GTK, QT ... these all have their own ways to affect scaling. It's also _not_ just about fonts. Fonts can usually be scaled, but getting menus and images and everything right takes more work.

It's a combination o

[2016-05-13 03:50] tilgovi commented on #261
Errr... sent too soon...

... "Me too" and "check your fonts" are both unhelpful at this point.

Someone just needs to sit down and sort through it and figure out what has to be changed. My guess is just a dependency upgrade.

[2016-05-13 03:52] tilgovi commented on #261
If it's helpful, I can provide links for Xrandr, GTK, and QT settings so you can see the various hints the desktop environment might provide.

I can also link to issues from Gecko and Chromium.

I've carefully tracked HiDPI support for a number of projects since I got my current machine two years ago. I'm sure I can dig up links with little effort if it will help.

[2016-05-13 03:53] tilgovi commented on #261
Also, Atom only recently solved this, too, after Chrome fixed it.

[2016-05-13 03:55] Scath-Enfys commented on #259
+1 @simplexion This is how feature creep begins... If you need organization, "tag" your labels with whatever organizers you need.
@lenowng Those aren't related issues. Open a new issue for that.

[2016-05-13 17:05] Scath-Enfys commented on #248
@devgeeks don't see any reason the Notes field couldn't be used for this anyway...

[2016-05-19 04:25] ivan-novakov commented on #261
Running on Windows 10 on a 4K display - the SpideOak windows is has really tiny font no matter what the system settings are. Every other program is fine :).

[2016-06-14 17:27] c0fe opened #264 "Docker File"
Is there a docker file for this?

[2016-06-17 01:09] jeffreyweston commented on #104
import/export still hugely needed

[2016-06-24 13:38] #171 closed

[2016-06-30 23:20] gerrywastaken commented on #259
@simplexion @Scath-Enfys Well as much as search is great it's not quite the same. Categories do not require you to keep all the categories in your head in order to use it. Would an operating system not require directories if you could label files and search those labels or in this instance do directories provide something extra? I don't know about you guys, but I have lots of passwords and organis

[2016-07-04 07:06] simplexion commented on #259
@gerrywastaken Directories are the biggest problem in filesystems these days. I would love if there was a good filesystem that allowed for quality searching and the use of tags. Placing them in directories is not great. It then requires that you remember exactly how the files are stored, rather than having the ability to search all files based on sensible information regarding those files.

[2016-07-04 07:23] gerrywastaken commented on #259
@simplexion That is a false choice. You can have both.

[2016-07-08 02:53] likethesky commented on #246
👍  for touchID, as long as the UI affordance makes it clear to the user what they're doing, giving up, etc.; it'd be nice to have an option for the device security to expire too, ideally after a period of non-use, rather than a fixed period, like "Will expire after 24 hours of non-use" or something similar (where 24 is settable).

[2016-07-11 12:14] mcd1992 commented on #254
Any update on this? I'd love to be able to host my own web-end for the encryptr software or at the very least be able to locally save my data through the existing system.

[2016-07-15 09:10] entepe85 commented on #154
Why not use this and enable fingerprint login for capable Android devices as well, if you don't mind my asking?
https://www.npmjs.com/package/cordova-plugin-fingerprint-id

[2016-07-19 17:56] gregnorc opened #265 "Feature request: Customize password output to meet PW restrictions"
Hello,

As it currently stands, Encryptr seems to always generate a password with 12 characters, using what looks like letters, numbers, and a large array of symbols.
![screen shot 2016-07-19 at 1 43 37 pm](https://cloud.githubusercontent.com/assets/7004142/16960493/cb988be6-4db7-11e6-861b-b2633cf1110b.png)

Unfortunately, many websites restrict the characters in a password (see attachment)

Furth

[2016-07-19 17:58] gregnorc opened #266 "Feature Request: PIN access on mobile app"
Entering the entire passphrase on mobile can be cumbersome, especially if you are aware of the fact there is no 5th amendment protection for fingerprints and chose a long password for your phone.

It would be nice to allow users to opt in to putting a simple PIN (numeric, swipe pattern, or short word) so that someone can't access their PWs if handed the device, but so you're not typing out the ent

[2016-07-19 21:12] devgeeks commented on #266
The trick is to figure out a way to keep the PIN from just being the security equivalent of having a bad password for Encryptr.

[2016-07-19 22:14] gregnorc commented on #266
You could have a timeout on the PIN, or maybe only allow it if they set up a screen lock? (I'm not sure if latter is possible on both iOS and Android)

Does Spideroak have a designated UX researcher? This is the kind of thing they could help suss out.

-Greg

Sent from my IPhone 💸

[2016-07-20 01:10] devgeeks commented on #266
Yup...

@helveticade

[2016-07-20 01:13] devgeeks commented on #265
There are plans for better pw creation.. including settings much like you are asking for.

[2016-07-20 11:13] neonb commented on #266
Every mobile app, security-critical or not, prefers simple PINs over passwords. The reason is probably that access to the device in question is presumed to be proof enough that the user is legitimate. If your phone has private information (which it does), it already has (should have) lock screen security and other anti-theft features implemented.

So the PIN serves a different purpose than your re

[2016-07-20 11:29] devgeeks commented on #266
This is basically what the SpiderOakOne app does now. I was not saying that I was against the idea, just being clear about the possible ramifications. I have been planning on PIN and touchID support... it's just on a long list of features that need to be prioritised and added.

I also want to state that I super appreciate folks adding issues and making feature requests like this. It is what makes

[2016-07-20 11:35] neonb commented on #103
Having "Copy username" and "Copy password" buttons/icons in the list view would reduce the amount of clicking required. There should be no reason to move to a different view just for these two most common actions.

[2016-07-20 11:38] neonb opened #267 ""Copied Username" and "Copied Password" notifications"
The notifications and their slide in/out animations behave a bit erratically when copying different fields in quick succession. It looks like the animation sequence isn't reset properly when a new notification pops up. Using Windows desktop app.

[2016-07-20 11:39] devgeeks commented on #103
@neonb There are actually technical reasons why this is actually more difficult / less desirable than it sounds.

The "list" is literally that, just a list of the entries with their type and an ID to point to the actual entry. It means that Crypton is only decrypting one container (the list) when the app starts up instead of decrypting every single entry. This makes the app start up faster (especi

[2016-07-20 11:40] devgeeks commented on #267
Thanks, I'll have a look at this as soon as I can.

[2016-07-20 11:46] neonb commented on #103
Ah, I see. Makes sense. The app is already pretty slick so I trust that you'll find ways to improve it :)

[2016-07-20 11:49] devgeeks commented on #103
The real issue is the speed of containers in Crypton (especially on mobile). Since Encryptr was written, a better cheaper key/value store type was added to Crypton... switching to this new "Items" API might mean it's so much faster that we can indeed just load the whole lot right away. Or at least (if t's fast enough), load them when you click to copy it.

[2016-07-20 14:28] gregnorc commented on #266
Great thoughts!

Personally I'd strongly prefer a PIN since something you know is much stronger 5th amendment protection (biometrics can be compelled in USA)

Also Touch ID can't be used on individual apps if disabled for main lock screen in iOS IIRC so people like me who use strong lock codes couldn't use that feature.

-Greg

Sent from my IPhone 💸

[2016-07-29 15:10] gregnorc opened #268 "Feature request: Cache (encrypted) PWs for use when no network access"
Here's a hypothetical:

I'm on vacation and have no wifi, and no international data plan

I've stored these in Encryptr, on my phone, which doesn't not have an international data plan.

It would be nice if I could still enter my PW and decrypt the last known batch of passwords, rather than requiring a cloud sync with *every* use of Encryptr.

I know this isn't perfect - what if I changed the PWs b

[2016-07-29 15:11] #268 closed

[2016-07-29 15:12] gregnorc commented on #268
Realized this is a duplicate of #254

[2016-07-30 18:52] whitedp commented on #247
Just updating: Issue still the same;

[2016-08-03 17:47] balwa commented on #122
+1

[2016-08-10 07:33] tgagor commented on #169
+1 I want this too. Keepass behaviour for autofill is secure enough in my opinion. Please implement it and you will get much more audience with those plugins.

[2016-08-15 05:13] Klortho commented on #182
Here are my 2 cents. I understand wanting to keep technical details out of the web pages that the prospective user first sees, but I've just been checking this out for the first time today, and I think what is sorely missing is something along the lines, "Don't take our word for it, have a look at the source code ...".

IOW, I get a bad feeling when I read what sounds like a promotional brosure fo

[2016-08-15 07:31] devgeeks commented on #182
I agree that the SpiderOak Encryptr page should mention that it's open source.

Up to the SpiderOak folks if they wanna add any more technical details of Crypton etc to the product site, I guess...

//cc @helveticade

[2016-08-17 11:11] JRebhan commented on #254
The lack of this feature is what's keeping my team from using it. What happens if the servers are not available, have a problem etc. I can't be shut off from important logins for my customers. I need to be able to log in and use the "local state" of the DB.

I fully support the introduction of this feature.

[2016-08-18 00:01] diazbastian commented on #260
Integration with web browsers enables potential security risks. My experience with other password managers tell me that. So I think Encryptr so great.

[2016-08-18 00:39] diazbastian opened #269 "Improvement: More password fields for available entries."
This responds to the evolution of security systems of services and products that require more than 1 password.

For example: Any web service that requires two-step verification, mail services as ProtonMail with two passwords, online banking, debit/credit card, (other verification systems), etc. The method of using different entries for the same account could serve, but it becomes a chaos if you ha

[2016-08-18 00:52] diazbastian commented on #183
PPA is not a recommended method (such as Copr in Fedora or Aur in Arch). Currently, they have created "new" (with great support) apps distribution systems more efficient and offer better security options as Flatpak and Snap. The problem is still in development but seem a better alternative to the PPA (and cross platform).

[2016-08-18 17:43] franzos commented on #254
+1

[2016-08-19 02:37] Secris commented on #173
Has there been any word on this?

[2016-08-19 03:29] devgeeks commented on #173
I have it "mostly" working, so it's theoretically possible.

The problems lie mostly in priorities and time.  I would certainly _like_ to do it...

[2016-08-19 04:10] Secris commented on #173
It would be good to have. I loved my windows phone and so do a lot of others.
Any info on what you mean by mostly?

[2016-08-19 04:16] devgeeks commented on #173
To be completely honest, I last tried to make it work over 6 months ago, so I don't remember what exactly... most of the issues were simply around CSS and not functionality or JavaScript requirements... So they were totally surmountable problems.

[2016-08-19 04:57] Secris commented on #173
Well that is good. Maybe someone with the time and skill could pick it up with this knowledge.

[2016-08-31 20:29] Svenito commented on #169
Also consider how Enpass handles this. The browser plugin communicates with the desktop application. This might be an option as mentioned above. Would like to see tighter integration with browser too

[2016-09-05 21:46] WildYorkies commented on #122
@helveticade

What is this Crypton I keep hearing about? There's no trace of info about them on the web. Their website is changed or just gone. Crypton.io right?

[2016-09-07 14:02] ysbaddaden commented on #261
This seems to be fixed in NW.js 0.16 for Linux:
https://github.com/nwjs/nw.js/issues/5165

[2016-09-13 17:59] peterloron commented on #169
+1  This is a killer/deal-breaker feature for me. I'm (so far) putting up with LastPass because of it.

[2016-09-14 08:22] Nabekei opened #270 "When will a new version come out?"
The app hasn't been updated for a year and it still doesn't have functions which have been implemented into the iPhone in 2013, like TouchID. Is the app still being worked on at all?

[2016-10-03 00:09] FrozenGenis commented on #270
Is the entire Encryptr project even still being worked on?

[2016-10-05 18:25] Klortho commented on #159
Any ETA?

[2016-10-05 18:31] franckl commented on #159
+1

[2016-10-06 11:31] devgeeks commented on #250
These will be fixed in the next version I am working on now...

[2016-10-06 11:37] #231 closed

[2016-10-06 11:37] #230 closed

[2016-10-06 11:38] #229 closed

[2016-10-06 11:38] #228 closed

[2016-10-06 11:38] #227 closed

[2016-10-06 11:38] #226 closed

[2016-10-06 11:38] #225 closed

[2016-10-06 11:38] #224 closed

[2016-10-06 11:38] #223 closed

[2016-10-07 06:00] devgeeks commented on #270
I know it's been a long time coming, and I could make a million excuses... but I would rather just say that I have started work on a bugfix version, and there should even be even more coming after that.

[2016-10-11 11:03] lgommans commented on #156
Is this still true, can this be hosted with github.com/devgeeks/crypton (which hasn't been updated since 2014)?

[2016-10-11 17:52] devgeeks commented on #156
The correct location for Crypton is https://github.com/SpiderOak/crypton which has. Wen updated more recently.

It's still currently possible to host your own Crypton server, though you'd also need to compile client apps as well as the server address is hard coded in the apps.

[2016-10-11 18:47] lgommans commented on #156
A configuration field would be nicer, but I kind of expected recompilation would be needed. Thanks for the reply!

[2016-10-12 05:25] harryio opened #271 "Command line client"
Any plans?

[2016-10-12 05:51] devgeeks commented on #271
As cool as that would be, Crypton doesn't currently work outside the browser.

However, there are plans to change the underpinnings that might make a CLI possible.

[2016-10-12 05:53] harryio commented on #271
That'd make it truly universal, and easily adaptable for a lot of people!

[2016-10-15 06:54] morriswinkler commented on #169
👍

[2016-10-15 09:44] retorquere commented on #104
I see this is labeled "ready" but not closed? Is this slated for a release soon? I have about two hundred accounts in KeePass.

[2016-10-15 09:45] retorquere commented on #104
I see this is labeled "ready" but not closed? Is this slated for a release soon? I have about two hundred accounts in KeePass.

[2016-10-15 11:17] devgeeks commented on #104
This issue is still very much open... what was closed was #186 because it was a duplicate.

In this case as well, the "Ready" label is probably misleading... Ready in this case means "out of the Backlog and ready to be worked on but not yet in progress".

It kind of actually IS in progress but only in an R&D investigatory stage at this point.

I realise this is a very important feature, but import

[2016-10-15 15:28] retorquere commented on #104
Does it? Yes, preferably this would work flawlessly, but I don't *have* to throw away my KeePass database. I would at this stage prefer something that works sometimes (which would be a correctable nuicanse) over something that doesn't work at all (which is a showstopper for me).

Is the database format for encryptr documented? I could just take a stab at an offline migration utility.

[2016-10-20 14:35] dybber opened #272 "Feature request: Keyboard navigation"
Currently you can login and search for passwords using the keyboard only, but you cannot:

 - select between various search results using keyboard
 - enter the Content Item Detail view using keyboard
 - select between various attributes in the Content Item Detail view with the keyboard
 - copy a password or other attribute using keyboard

[2016-10-20 20:16] devgeeks commented on #272
Yeah, this is something we have always wanted.

There are some updates coming for the app, maybe some of these could happen then.

[2016-10-20 22:38] jaredly commented on #140
:/ unless the website you're on is hacked, or you have a malicious browser extension (in which case you're hosed anyway), there is no way for a 3rd-party website to steal your autofilled passwords.
hoping to clear that up. not in an iframe, not anywhere.
as far as I can tell, autofill is *no less secure* than typing it in yourself.
hoping to clear that up :D

[2016-10-24 10:30] Mayank516 commented on #170
Hi @devgeeks

Any updates on this issue ?

[2016-10-25 02:22] devgeeks commented on #170
Not yet. I am hoping an updated version of nw.js will solve it and it will "just be fixed" in the next release.

[2016-10-25 11:38] rishu-kumar-88 commented on #170
Hi @devgeeks,

Any tentative expected time for this issue resolution.

[2016-10-25 22:17] devgeeks commented on #170
I don't have a timeline for the next release yet...

[2016-10-28 02:32] c633 opened #273 "Uncaught node.js error when changing passphrase"
I got this error when changing my passphrase

[code]

[2016-10-28 02:34] devgeeks commented on #273
@c633 did your passphrase successfully change? Or stay the old passphrase?

Can you try again and see if it's a transient error?

[2016-10-28 02:37] c633 commented on #273
It successfully changed and this error happened in the first time I change my passphrase only.

[2016-10-28 02:38] devgeeks commented on #273
Thanks for that, I'll look into it.

[2016-11-01 08:49] 3rawkz commented on #104
mmmm... you guys dont macro?  I wrote a pyAuto to do a "scrape" into csv...

[2016-11-01 08:56] retorquere commented on #104
It's more that with such (to me) fairly obvious stuff missing says (to me) that it's not ready for use.

[2016-11-07 13:25] AntoineTurmel commented on #247
Any update on this issue ?

[2016-11-07 13:26] AntoineTurmel opened #274 "LessPass integration"
It would be neat to integrate @lesspass to be able to generate passwords.

[2016-11-14 16:01] LucasRoot opened #275 "Problem when Installing"
When I use the command "npm install" I get this:

I've already installed this packages with npm: phantomjs, mocha-phantomjs, phantomjs-prebuilt and gulp-mocha-phantomjs, but nothing works!

[2016-11-14 23:36] devgeeks commented on #275
Yeah, it actually probably needs `phantomjs@1.9.x` installed locally or globally. I came across some of these issues updating the SpiderOak app. I'll need to give Encryptr a similar once over for use with modern npm.

[2016-11-20 19:42] matteocoder opened #276 "Icon breaks the GNOME 3.18 desktop's dock"
the icon does not show in the dock and somehow creates issues with the other icons. For example: if I have both Encryptr and Chrome open at the same time, when I close Chrome the icon won't disappear until I reboot the computer. I am not running any extentions like "dash to dock" though.

[2016-11-23 17:50] intothemoat opened #277 ""Your device lost its internet connection" infinite loop"
I'm connected to the internet, but I can't get encryptr to see that I am.

I've tried rebooting, unplugging and reconnecting the wifi adapter and still no luck.

All I get now is an infinite loop of encryptr trying to reconnect and failing to do so. Despite the fact I'm connected.
Any advice on how to resolve this error would be great! Thank you.

[2016-11-23 23:18] devgeeks commented on #277
That's strange. The Encryptr servers all appear to be up, etc.

You might want to contact SpiderOak support as they might be able to help. The issue tracker here is more for bugs or enhancements...

[2016-11-24 00:42] intothemoat commented on #277
Ok, I'll definitely contact SpiderOak Support. On that topic though, is their website down? I tried googling it earlier this am and the web address could not be found. Getting the same result now this pm. Or did the address move? Thanks for your help! I really love Encryptr :)!

[2016-11-24 03:01] devgeeks commented on #277
https://spideroak.com/support/encryptr

[2016-11-25 16:54] gregnorc opened #278 "Feature Request: Ability to export DB (or caching of PWs in app)?"
First off, thanks for all your work on this - been using a while and liking it.

However, I do need an internet connection to access my PWs, not all of which are for apps that require and internet connection.

It'd be nice if there was a simple export function - maybe output a .CSV that could be stored in a safe place, like a Veracrypt volume.

Alternatively, if it's safe to do so, caching PWs fro

[2016-11-25 18:30] rjgonza commented on #159
ETA update?

[2016-11-26 13:00] yotamN opened #279 "missing Encryptr.js to run with nw.js"
I try to run the program from source to add features but I can't run it, I get this error message:
![screenshot from 2016-11-26 14-58-16](https://cloud.githubusercontent.com/assets/5249239/20640530/ca3260d2-b3e8-11e6-9e68-a03df230d009.png)

The file is in .gitignore so maybe you accidentally ignored it? I can't run the program without it

[2016-11-26 13:02] yotamN commented on #279
Oh I see I need to generate it, sorry

[2016-11-26 13:02] #279 closed

[2016-11-26 21:29] devgeeks commented on #279
Glad you figured it out :)

[2016-11-28 17:52] renegat59 commented on #247
Hi, same here. Looking forward to a fix:)

[2016-11-29 03:02] whitedp commented on #247
Same here, looking forward to fix :)

On Nov 28, 2016 12:53 PM, "Mateusz P" <notifications@github.com> wrote:

[2016-11-30 21:59] dragon788 commented on #244
The maintenance of CLAhub has been transitioned and it should be working much better now.

http://blog.clahub.com/post/141010202340/i-am-excited-to-share-that-the-berkman-center-for

[2016-12-01 08:01] matknny commented on #247
Hi, I am getting the same problem, I cannot open or delete an entree. Just coming up "Loading".

[2016-12-01 14:21] renegat59 commented on #247
I was trying to find a and fix the bug, but so far no luck on running the app after clonning from github:P After weekend I may have some more information about this

[2016-12-14 08:57] mgascoyne commented on #254
+1

[2016-12-20 13:13] kzoch opened #280 "Avoid ambiguous characters in generated passwords"
I found a couple of issues related to the randomString password generator of the app, but haven't found this one.

Unfortunately, the font that is used for the app makes some of the characters indistinguishable, e.g. capital i and lowercase l. This is not a problem for strings such as names or labels, but it can be quite confusing for passwords. If users set passwords themselves, they can simply a

[2016-12-21 04:46] devgeeks commented on #280
+1 from me.  No idea what happened. The original font wasn't like that I am sure. I have also had problems with this.

I'll make sure to fix it in the next release.

[2016-12-21 08:59] knutzk commented on #280
That's great news, thanks! Of course, the other solution would be to switch to a font face where those characters can actually be distinguished (e.g. some monospaced fonts). But I guess this would be much more effort and might not fit the design of Encryptr very well.

[2016-12-21 10:34] devgeeks commented on #280
No no no... that's what I mean... I would change to a font that disambiguates those characters... not remove them from the entropy.

[2016-12-24 01:40] EMH333 commented on #278
Yes, I agree this would be a nice feature to have. I use Encryptr often for remembering things (not necessarily passwords) and for the most part I am off line when I try and store information, until I remember I need to be online. If off line access was available, it would dramatically help me.

The only security concern I could see would be if someone got the database and then could attempt to cr

[2016-12-25 18:06] robertsimoes commented on #254
Just Tweeted @SpiderOak about this today, I think this is VERY Important in the upcoming releases. Even once a week snapshots of password database state for local access would be better then nothing. :)

[2016-12-28 15:24] pablo-esteban opened #281 "Prevent keyboard app to remember typed password"
On the android app, when I create a new password item, my keyboard app "remembers" whatever I typed in the password field. Is it up to the Encryptr app to prevent this learning?

Using Android 6.0.1 with "Xperia keyboard". Encryptr v 2.0.0.

[2016-12-29 16:32] sarndt commented on #196
same here, please add U2F 2FA :)

[2017-01-04 07:20] GameplayJDK opened #282 "Android back button not working after locking Encryptr through settings"
There is a "Lock Encryptr" button in the settings menu. I just noticed that there is no reaction to pressing the back button on android after using that lock function. I had expected it to exit the app, as the login screen that's displayed is the top most navigation level.

[2017-01-06 00:24] pacuna commented on #261
Any new on this? I'm using ubuntu gnome on my macbook retina and it would be great to be able to apply some scaling

[2017-01-07 18:57] ArturoRis commented on #254
+1

[2017-01-14 10:49] aedoue commented on #277
I'm having the same problem: I am connected to the internet and can browse sites, but Encryptr keeps telling me, "your device has lost its internet connection." The site listed above, https://spideroak.com/support/encryptr, gives me a "server not found" error message.

I've been using Encryptr for a couple of weeks and hate to give it up because it's not reliably available.

[2017-01-14 11:52] happyoniens commented on #277
I'm having the exact same problem as @aedoue 😕

[2017-01-14 13:30] Casidhe commented on #277
Same here. When I couldn't get onto the support site as well, I just presumed they are down for some reason.

[2017-01-14 16:12] hiromipaw opened #283 "I cannot access local passwords if offline"
Hi,
At a recent outage I notice it is not possible to access local passwords if I am offline. I think users should still be able to access their local database even if offline.

[2017-01-14 16:13] hiromipaw opened #284 "Cannot export passwords from encryptr"
Hi,
I have to rely on a personal backup of the data I create in encryptr. Would rather be able to export my own data.

[2017-01-15 21:19] EarthLord commented on #278
Yes, this will be an amazing feature. Caching the encrypted database locally would help whenever there's on outage (which happened a day ago). Also whenever travelling without the Internet or travelling where there's a firewall. Thanks!

[2017-01-15 21:22] EarthLord commented on #284
You can add your comment here https://github.com/SpiderOak/Encryptr/issues/278

[2017-01-17 20:53] FranciscoG commented on #101
curious on the status of this, a year later.  Was this added and this issue just wasn't closed?  This is a pretty important security issue for Android Password managers.

[2017-01-23 14:29] hnykda commented on #278
:+1:

[2017-01-30 18:35] szuro opened #285 "Feature request: SSH keys storage"
Hi!
It would be nice if Encryptr supported storing public-private SSH key pairs along with a password if it was set.
A group of plaintext fields should be enough as storing keys as General works good.

[2017-01-30 23:33] cryptono opened #286 "Ongoing Development?"
Hi,
I am a new user and change from KeePassX to Encryptr now.
The last commit and activity is some time ago, is it still developed and maintained?
Encryptr is unique on password manager market, I would love to see you expand the dev activities. :-) There are many missing features!

[2017-02-17 14:30] alancliddell commented on #278
Yes, this would be nice to have. More generally import/export would help in situations where people use multiple password managers (e.g., [pass](https://www.passwordstore.org/) on the command line when a GUI is not available).

[2017-02-17 14:32] franckl commented on #278
is this project still active ? no commit in 6 months and no way to export our passwords unfortunately

[2017-02-17 18:01] rjgonza commented on #278
I doesn't look like it. I think a great alternative is KeePass and you own
cloud storage. I have switched. This was really nice, but this missing
feature is a deal breaker.

-
sent from mobile

On Feb 17, 2017 9:32 AM, "franckl" <notifications@github.com> wrote:

is this project still active ? no commit in 6 months and no way to export
our passwords unfortunately

—
You are receiving this because

[2017-02-26 16:24] 4oo4 commented on #286
At this point, the total radio silence and lack of commits (both here and for Crypton) seems to imply that SpiderOak isn't interested in developing this anymore, or is perhaps is looking to continue development on it privately.

Either way, it would be a good opportunity to see if anyone is interested in a community fork for either project (especially anyone who's good with node and NW.js!). I've

[2017-02-27 07:49] cryptono commented on #286
@4oo4 I really like that idea. But it is probably hard to find someone with time and node experience, I personally can't participate unfortunately. Still hoping to find someone. :+1:

[2017-02-28 10:53] HelmicNewciv commented on #169
This is a deciding factor on what I suggest people to use to get them started with a password manager.  I would love to have them use Encryptr because it's open-source and cloud-based, but without proper integration and auto-fill it's just too much of a hassle to convince non-techie people to use it regularly.

This extends to the mobile client as well - on Android, LastPass has a neat little feat

[2017-02-28 20:58] herrlado commented on #261
[URL=http://www.directupload.net/file/d/4646/6sct3kyv_png.htm][IMG]http://fs5.directupload.net/images/170228/temp/6sct3kyv.png[/IMG][/URL]

[2017-03-05 21:32] salvor7 commented on #234
I'm still getting this issue. I can't delete from the mobile app either.

![image](https://cloud.githubusercontent.com/assets/5132080/23591628/109f13fa-01a8-11e7-847f-24663f6e03d1.png)

[2017-03-06 03:07] AntoineTurmel commented on #234
Could be linked to issue #247

[2017-03-14 00:06] FranciscoG commented on #286
@cryptono what made you switch from KeePassX?  and have you checked out the community fork of KeePassX called KeePassXC?  https://keepassxc.org/

I'm looking to do the opposite of you and switch _to_ KeePassX because of the Android Clipboard security issue that Encryptr has not fixed yet (for their Android app).

They have an issue open for it but nothing has been done yet: https://github.com/Spid

[2017-03-14 06:12] cryptono commented on #286
@FranciscoG yeah, I really like keepassxc. But auto login isn't really well implemented so far. I really don't want to think about my passwords. As LastPass announced to offer cross platform as free option. So I switched to LastPass (not entirely so far) and love the auto login feature. I would prefer keepassxc, but the browser integration is buggy...

[2017-03-14 13:56] FranciscoG commented on #286
@cryptono ah ok.  Those are all things I definitely don't want.  With convenience comes more points of failure and insecurity, especially since I'm on Android.

Recently LastPass and a bunch other Android password manager apps were found to have vulnerabilities: https://team-sik.org/trent_portfolio/password-manager-apps/

Security Now podcast covered this:  https://media.grc.com/sn/sn-602.mp3
star

[2017-03-16 09:59] cryptono commented on #286
@FranciscoG Arw, your damn right, with every single point. To be honest: I don't know what to use anymore. There are many problems with all password managers and even in general with passwords. I am conviced that it is a desaster that we have to think about passwords in 21. century. We need a new solution - or maybe just a open source, cross plattform password manager with auto type, balancing bet

[2017-03-28 09:56] abderrahmane-tj commented on #260
@diazbastian Could you develop on your experience with other password managers ? what kind of risks ? which managers ?

[2017-03-30 17:55] elDan101 commented on #286
I actually dropped Encryptr for the reason of discontinued development. After some research, I can recommend [KeeWeb](https://github.com/keeweb/keeweb). It actually has many of the missing features from Encryptr. However, auto fill-ins are not possible as of my knowledge. You can access it from your [browser or via web-login (if you have the database saved encrypted in a cloud](https://keeweb.info

[2017-03-31 06:16] cryptono commented on #286
@elDan101 Thanks for the tip. It seems to be a real solid worth seeing alternative to Encryptr. Hope there will be a auto type or login feature in the future. :)

[2017-04-04 18:57] JeffGrayson commented on #104
What is the status of import/export?   Looking to import into encryptr.      What is the required file type?  Fields supported etc...?   If not being worked is it located here so the community can help?

[2017-04-21 03:31] ksalman commented on #254
+1

[2017-04-22 09:30] 0xD4 commented on #286
[SpiderOak 17/05/2017](https://twitter.com/SpiderOak/status/832664702148812801)

[2017-04-27 08:33] adamluzsi commented on #159
+1

[2017-04-27 13:52] dantuck commented on #159
@devgeeks any progress? I can take it on if you have other priorities that are taking over or just need help.

[2017-04-27 17:52] Klortho commented on #159
@dantuck -- I'd just assume that's the case.

[2017-04-27 20:32] devgeeks commented on #159
I actually have export most of the way done. I don't imagine it will be a lot longer till I can get started properly. I have been very busy, but like a lot of others, I see this feature as a must-have.

Apologies for how long this has taken to see the light of day. There is a lot more to it than just coding ;)

[2017-04-27 23:57] 4oo4 commented on #286
@0xD4 That's awesome!

[2017-04-28 14:24] zeynepankara opened #287 "'/crypton.js' not found 404 error"
![crypton js err](https://cloud.githubusercontent.com/assets/22747301/25532709/f3797a68-2c36-11e7-9b22-1e9e18cc96ba.png)

[2017-04-28 16:10] dantuck commented on #159
@devgeeks thanks for that update. If you need any help I am starting to explore the project to see what enhancements I can work on. I was about to build my own tool but this one seems to be a really good option.

[2017-05-12 18:08] santiagofn commented on #261
Some here using Win 10 on a Dell XPS. Fonts are ridicusly tiny with SpiderOak v. 6.1.9.
![spideroak with tiny fonts](https://cloud.githubusercontent.com/assets/8375708/26010810/6c409b08-371c-11e7-8630-93cb93fde6d2.png)

[2017-05-13 09:24] chthonics commented on #286
agree with most of the above - I have found various password mgrs lacking on security or crucial features. my experience with spideroak made me hope that encryptr would be the solution - I would gladly pay a one time fee to use it. it doesn't have to be free for me, but it does have to be: open source, secure, simple to use, cross device linux desktop / android mobile, a working auto save function

[2017-05-19 17:54] robertsimoes commented on #286
Agree with @chthonics
I don't know how the infrastructure works in terms of if it is hosted on SpiderOaks' cloud so I'm not sure about the cost.

Can we get this on www.gratipay.com to fund development?

[2017-05-19 17:55] robertsimoes commented on #284
@hiromipaw how do you back up your data personally? just an xls file?

[2017-05-19 18:11] exterm commented on #286
I'd certainly pay money to fund ongoing development on this - but I think a monthly fee would be better for the long term perspective

[2017-05-19 18:50] f-edwards commented on #196
same! would love U2F

[2017-05-25 19:50] sudomake opened #288 "Uncaught node.js Error"
## System
OSX 10.12.5
Encryptr 2.0.0

## What I was trying to do
Delete an account entry in Encryptr.  I clicked on the entry.  I clicked on the trash can icon.  Encryptr brought me back to the login screen.  I logged back in.

## Error message
[code]

[2017-06-19 22:36] roseltek commented on #104
By far, I would think this would be the #1 preventer of mass adoption of this app.  Anyone even looking for an app like this is going to agree 100% with this thread.  No one wants to re-enter 200-500 passwords by hand.  Please make this top priority.

[2017-06-20 16:16] aurabindo opened #290 "Feature Request: Multiple password fields"
Hi,

Encryptr is awesome! I'd love to see the facility for adding multiple passwords sections in one item. For example, for internet banking, the user can have one login password and different transaction password.

[2017-06-29 17:14] ezekiel-mongoose opened #291 "iOS11 Copying on Encryptr"
Passwords and usernames do not copy when you double tap as usual on iOS 11

[2017-07-06 21:43] mhabibi opened #292 "Passwords are not loaded in Android"
Since a few days ago I have not been able to fetch passwords on my Android devices. I checked in two Androids, both Android 6.
It gets stuck in "DECRYPTING ENTITIES..." and never shows anything else.

[2017-07-06 22:18] devgeeks commented on #292
Can you tell me what version of Android you have tried?

I cannot reproduce on the Android device I have with me at the moment.

[2017-07-06 22:21] exterm commented on #292
I have a moto g4 plus with Android 7.0 . I purged the data, uninstalled the app, both did not help.

[2017-07-06 23:19] unclescott commented on #292
mhabibi, thank you for posting,
I see this on Android 7.0, security patch level March 5, 2017, on a Nexus 6 phone.
Encryptr continues to run OK for me on an iPhone and my laptop.

[2017-07-06 23:36] devgeeks commented on #292
Thanks

[2017-07-07 21:39] droidbag1 commented on #292
Hi, I am having same issue. Using phone moto x2nd gen, android 5.1 android security patch 8/1/16. Just says decrypting entries after logging in. Let it run for 15 min with no result. Tried restart and uninstall. Have not gotten any security patches or any changes recently. Started happening 2-3 days ago. Please resolve.

[2017-07-10 18:16] MrWiggle commented on #292
Hi everyone, I'm having exactly the same issue - and it is so frustrating!  I've been using Encryptr on my Mac and my android HTC phone for about the last year, and it's worked great - until this weekend!!

It's still working fine on my mac, but has stopped working on my Android.  I can log in about 50% of the time but, even when I can log-in, it seems to hang at "Decrypting Entries".  Weirdly, wh

[2017-07-11 14:41] jfvrxmbl commented on #292
Hi,
I have the same issue on SONY Xpéria Z3 running on Android 6.0.1 without particular causes.
Start happening a week ago
Thanks for your help.

[2017-07-12 03:24] rhinosau commented on #292
I'm having the same issue on LG Nexus 5 with Android 6.0.1.

[2017-07-12 03:36] devgeeks commented on #292
The breadth of devices this is occurring on is disturbing.

I am flummoxed that I cannot replicate it.

Paging @reneelynn and the rest of the SpiderOak team

[2017-07-12 12:55] citizenspress commented on #292
Same issue on a OnePlus One after upgrade to LineageOS 14.1 (Android 7.1.2) from Android 7.0. Has not been working since update to 7.1.

Have tried wiping all files associated with Encryptr and re-installing the application with no effect.

[2017-07-12 14:35] devgeeks commented on #292
Quick question for everyone:

Roughly how many entries do you have stored in your account? I have < 70 and it still took quite a while to sync. I have to wonder if something has slowed the server down or something causing a timeout?

[2017-07-12 14:52] mhabibi commented on #292
I have about 85 passwords and other entities in total.

[2017-07-12 16:33] MrWiggle commented on #292
I have about 50 passwords/other entries.

[2017-07-12 18:31] droidbag1 commented on #292
Anyone working on this? Anyone find a good alternative - free is better, with backups to a cloud is ideal. Likely to splurge $10 on enpass, if this does not start working soon.

[2017-07-12 18:54] MrWiggle commented on #292
Hi everyone,

I have a partial, if frustrating, update.  I did a complete "factory re-set" on my HTC, and re-installed everything.

Unfortunately, now Encryptr is no longer letting me log in at all.  I enter my credentials, it appears to be working, and then just rejects my log-in.  Of course, I've checked my log-in credentials multiple times - and they're the same credentials I use for Encryptr o

[2017-07-13 06:38] EarthLord commented on #292
Same here. I've about 50 entries. Gets stuck at the decrypting entries stage. On a Nexus 5 with a custom ROM having Android 7.1.2.

[2017-07-14 05:27] tonym07 commented on #292
nexus 6 running Android 7.1 Stock with about 86 passwords .
When i open the Application it says on top of the screen
Local Cache invalid Loading from server and it just keeps saying after that decrypting  entries and nothing shows

Hopefully this will help in a way

[2017-07-14 13:38] MrWiggle commented on #292
Hi everyone,

I'm very sad to say that, after trying everything I could think of, and tearing my hair out for the last week, I've now migrated to EnPass (ie, just downloaded EnPass, and re-entered everything manually).  It's working well on both my Mac and Android devices, and meets my needs for usability and security - with the added bonus that I now have "off line" access, which may prove useful

[2017-07-15 18:14] franchb commented on #292
I'm very sad too. Last 1,5 years I've been using Encryptr. Today I've migrated to EnPass.

[2017-07-15 18:24] MrWiggle commented on #292
Hi frenchb, I feel your pain - EnPass works, but it's not nearly as elegant or easy as Encryptr was....

Encryptr (when it worked), made my life so much easier - now I've got EnPass, and so a million crappy labels, folders and windows to worry about...sigh....

[2017-07-18 23:14] deepdivedylan commented on #292
I have the same problem with a Nexus 6 and Samsung Galaxy Tab S2. I have > 150 passwords and love Encryptr and don't want to migrate. 😿

[2017-07-19 13:41] sudomake commented on #292
I was using Encryptr without issue for a long time.  One day I received the Local Cache Invalid message during a sync.  After that I could never get past decrypting.  Uninstalling/Clearing the application data did not help.

I did a factory reset which did fix the problem until I received the Local Cache message again.  Now back to the same problem.  Works great on OSX, iOS, and linux though!

Sam

[2017-07-20 13:56] DrShittler commented on #292
I just migrated to Padlock, which is still open source (as Encryptr used to be) and comes very close to the elegance of our beloved Encryptr.
I'll be using both for some time to give SpiderOak the chance to fix things but I'm afraid they won't - just as the program hasn't received an update in quite some time. I sense that SpiderOak wants to get rid of Encryptr as it is not profitable at all and d

[2017-07-20 21:00] A-Stevens commented on #292
Same Issue, Kyocera DuraForce XD. Tried re-install, factory reset and re-install, and fresh install on new device (replacement for unrelated hardware issue). and problem persists.
Encryptr syncing without issue on two PCs and Asus TF300t tablet.

[2017-07-24 01:18] student237 commented on #292
I have the same problem with my Android installation of Encryptr (my Linux desktop version of the application still works great). I have 65 passwords and entities stored that I can't access via mobile platform as the app hangs on "DECRYPTING ENTRIES".  I've tried reinstalling the app, renaming the data folder, etc., with no resolution to the problem. I reached out to SpiderOak support three weeks

[2017-07-24 14:58] dodys commented on #292
Same issue on a:
OnePlus X
Android 6.0.1
Android Security Patch 2016-11-01

[2017-07-27 16:04] petervnv opened #293 "guide to self hosting?"
Hi all,

I'd like to try out encryptr on a self-hosted debian machine.
I know I need to install crypton on that machine but is there any detailed guide or documentation on how to configure encryptr to use my cloud instead of SpiderOak's

Cheers,
Peter

[2017-07-28 00:59] simplexion commented on #270
It have been over 9 months since the last comment. I have a feeling Encryptr is a dead project.

[2017-07-28 16:10] petervnv commented on #293
Anyone? I can't believe I'm the only that has thought about self-hosting...

[2017-07-28 18:55] TheLioness22 commented on #292
Some issue on Motorola Droid Turbo.  Android 6.0.1.  Security patch: January 1, 2017.   Tried force stopping the app, clearing cache, clearing data, uninstalling and then reinstalling.  It opens and lets me enter credentials, then says "Decrypting Entries..." and never gets past that screen.  It was working until a few weeks ago -- likely around the time that this thread was started.  I initially

[2017-07-29 05:36] brad commented on #293
You're definitely not the only one. I'd like to host it on a raspberry pi

[2017-07-29 22:06] 4oo4 commented on #293
I've self-hosted mine for a while, there's no (official) guide for self hosting. You basically just follow the build instructions for Crypton and Encryptr, the only difference for self-hosting being that you just need to edit a couple of config files before you actually build them.

For Crypton, you'll want to add your domain name in the CSP section in your `server/config/config.production.json`:

[2017-07-30 19:44] petervnv commented on #293
Thank you so much 4oo4.
This is exactly the kind of info I was looking for.
Much appreciated!

[2017-07-30 19:44] #293 closed

[2017-08-01 03:11] Halfnium commented on #292
I see exactly what others are reporting, this time on a Samsung Galaxy Amp Prime 2 'phone running Android 7.0.  By "exactly," I mean:

1) Encryptr worked well when I first installed it on the 'phone, but subsequently seemed to hang either upon login or upon sync and decryption of items previously stored on the server.

Oddly, the program would hang in different places from one trial to another.  T

[2017-08-01 19:21] exterm commented on #292
Yeah, I am also a paying SpiderOak backup user. I would pay a few dollars a month for encryptr even. This current complete outage on android for over a month is really bad. Is Encryptr even still officially supported by SpiderOak?

[2017-08-01 23:16] 4oo4 commented on #293
I knew I forgot something, there was one last piece of nginx config for websockets:

[code]

[2017-08-02 13:50] petervnv commented on #286
I understand that development is currently stalled and a new update in planned for some time this year.

But why haven't the pending PRs been committed? I see that one in particular (#289) seems to address a lot of the missing features mentioned on this thread, and even has a corresponding PR in Crypton that's also waiting to be committed since June (#448).

Are there any plans to commit these PRs

[2017-08-03 15:52] mhabibi commented on #292
Today I am getting an error on Mac, this happens when I remove an entity. I post it here, although I think it's a different bug but maybe it helps.
<img width="963" alt="screen shot 2017-08-03 at 17 02 31" src="https://user-images.githubusercontent.com/4964205/28930747-360e0482-7874-11e7-8eb6-653c6c38246d.png">

[2017-08-04 15:09] petervnv commented on #286
Sorry to insist, but can a dev please let us know what the plans are?
Are the PRs I mentioned going to be committed or are we better off forking and starting our derivative project?

Thanks,
Peter

[2017-08-05 05:36] devgeeks commented on #286
I am pretty sure the current PRs have been merged and are just awaiting release by SpiderOak.

[2017-08-05 05:37] devgeeks commented on #292
I hate to ask, but has anyone in this thread contacted SpiderOak support?

It might just be that they are not watching the GitHub issues.

https://support.spideroak.com

[2017-08-05 13:13] dodys commented on #292
Yes, I have and got the same reply as comment 4.

[2017-08-05 14:44] Samahedron commented on #292
Kelly Swezey (SpiderOak Support) Aug 2, 1:57 PM CDT

Hey [Samahedron]!

My  name is Kelly with SpiderOak and I will be happy to assist you. It's  currently being worked on, but I cannot provide an ETA. I wish I could,  but due to the complex QA sprints we perform, I'm unable to correctly  guess or predict when it will be resolved.

I appreciate your time and I'm glad I could respond in a timely ma

[2017-08-06 02:00] student237 commented on #292
Based on @Samahedron 's recent support response, it looks like SpiderOak is attempting to correct the issue as opposed to scrapping the project. That's excellent news! The email I received a month ago wasn't nearly as encouraging, but I've been holding out on switching applications, checking in on the thread every few days, hoping that SpiderOak would finally step up and help us out.
_____________

[2017-08-06 08:21] chthonics commented on #286
my understanding on encryptr at this time is that it will no longer receive support or updates - a few weeks back I submitted a support ticket to spideroak because my android side of encryptr froze up and has not changed despite removal/reinstall.
the reply I received was that the actual secure design of the app made it difficult to impossible to address any issues. due to this fact spideroak is n

[2017-08-08 16:09] MichaelJAllen commented on #126
Thanks for addressing the original issue about the various different error messages! (Sorry it's taken me so long to acknowledge, as I wasn't receiving updates for some reason.)

It looks like the second point I raised about there being no penalties for a number of incorrect login attempts is now being tracked by issue #212, for anyone interested in that.

[2017-08-08 16:20] MichaelJAllen commented on #212
IMHO, this is the most serious issue with Encryptr right now. Given that users are encouraged to enter site URLs, usernames, passwords, credit card details, etc. and put them in a publicly accessible location, it seems crazy that anyone can make multiple attempts to gain access to such an account without any restriction or limitation, and without the owner of the account being notified.

Some form

[2017-08-08 17:04] aleixx commented on #292
Same issue with:

_**Nexus 5
6.0.1**_

[2017-08-09 20:33] devgeeks commented on #291
It's possible a release will be needed with an updated version of the clipboard plugin sometime before iOS 11 is shipped.

[2017-08-11 15:03] cryptono commented on #286
https://bitwarden.com/ seems a valid alternative.

[2017-08-15 06:53] ldhieu commented on #277
Having the same problem - is the service down?

[2017-08-15 07:03] enfrte commented on #277
@ldhieu Yes, me too. Across all devices.

[2017-08-15 07:35] devgeeks commented on #277
:/

Same. It seems the TLS certificate for the server has expired.

I have sent an issue to support. They might not realise as it is not the 15th of August in the US yet...

[2017-08-15 07:48] hnykda opened #295 "Not being able to login on any device"
Hi,

this is probably connected to https://github.com/SpiderOak/Encryptr/issues/292. I am currently not being able to connect through PC nor any mobile phone. It seems it is affecting my friend's account as well. I have noticed that [encryptr](https://spideroak.com/encryptr/) has been moved to "legacy" part of the download section of SpiderOak site, but not letting users know before hand (at least

[2017-08-15 08:03] enfrte commented on #277
Good job, @devgeeks

[2017-08-15 08:13] naguirre commented on #295
Hi,
Same problem here :(

[2017-08-15 09:54] alvarl commented on #295
Looks like the certificate expired: `NET::ERR_CERT_DATE_INVALID`. So unlikely to be a shutdown, rather negligence.

[2017-08-15 10:29] crisp2017 commented on #295
same problem here... locked out of bank accounts, bitcoin accounts... stupid of us relying on a service that doesn't allow export or backup. Our firm is also relying heavily other spideroak products such as one and enterprise backup.  Need a fix now...

[2017-08-15 10:32] ezekiel-lemur commented on #295
I have the same issue on iOS and Linux, we need a fix !

[2017-08-15 10:37] alvarl commented on #295
I've managed to work around it, here are the steps for MacOS / Chrome:
* Open `https://encryptrservice.crypton.io/`, click `ADVANCED`, and proceed to the page. This accepts the expired certificate.
* Open file:///Applications/Encryptr.app/Contents/Resources/app.nw/index.html, which now manages to access the backend due to accepted certificate.
* Log in with your credentials and back up your passwo

[2017-08-15 10:40] crisp2017 commented on #295
You are a genius sir.... thank you!!

[2017-08-15 11:11] ezekiel-lemur commented on #295
alvarl than you very much, but does anyone know where that file would be on Linux?  `file:///Applications/Encryptr.app/Contents/Resources/app.nw/index.html` ? Thank you

[2017-08-15 11:13] crisp2017 commented on #295
ezekiel, if you can't find the file you can just find a mac in order to copy your passwords, by hand....

[2017-08-15 11:27] mike12345567 commented on #295
ezekiel, I managed to get it to work on Linux, I cloned the repo and built the desktop versions, then used the "osx64" build.

I had to change the endpoint it was targeting to `https://encryptrservice.crypton.io/` which can be found under `desktopbuilds/osx64/Encryptr.app/Contents/Resources/app.nw/js/Encryptr.js` on line 45 (it is set to `encryptrstaging.crypton.io`).

Then you can follow alvarl i

[2017-08-15 11:28] ezekiel-lemur commented on #295
I am going to borrow a mac asap

[2017-08-15 11:28] ezekiel-lemur commented on #295
What password manager are ye going to migrate to?

[2017-08-15 11:29] mike12345567 commented on #295
I've already paid for and started using LastPass, so far its got a lot of nice features and its only like $24 a year (although I think you can just have a free account if you don't want premium features?).

[2017-08-15 11:31] bsuv commented on #295
I cannot login to Encryptr on Linux (Ubuntu 16.04) or Android 7.0
Please help!

[2017-08-15 11:34] springjazzy commented on #295
I knew that day would come! Still...

[2017-08-15 12:06] ezekiel-lemur commented on #295
@mike12345567 This will be my solution [https://www.youtube.com/watch?v=3Ppk_squJW0](boring video) but hey, I will use Keepass + Nextcloud + Mini Keepass (iOS)

[2017-08-15 12:08] hnykda commented on #295
I confirm @mike12345567 and @alvarl solutions for Linux and Mac.

On my Linux, I had to:

1. install npm (use your package manager)
2. `git clone git@github.com:SpiderOak/Encryptr.git`
3. `cd Encryptr`
4. `npm install`
5. `ln -s node_modules/grunt-cli/bin/grunt`
6. replace line 35 in `src/app.js` with `window.crypton.host = "encryptrservice.crypton.io";`
7. `./build.sh desktop`
8. enable https://e

[2017-08-15 12:14] ezekiel-lemur commented on #295
@hnykda I got this error, am I using the correct repo?

`➜  ~ git clone git@github.com:SpiderOak/Encryptr.git
Cloning into 'Encryptr'...
Warning: Permanently added the RSA host key for IP address '192.30.253.113' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
`

[2017-08-15 12:19] mike12345567 commented on #295
@ezekiel-lemur you are trying to clone with SSH there, try using the HTTPS clone instead if you haven't set up SSH keys. `git clone https://github.com/SpiderOak/Encryptr.git`.

[2017-08-15 12:19] hnykda commented on #295
Exactly. Or just download the zip and extract it (https://github.com/SpiderOak/Encryptr/archive/master.zip). For your purpose, it is enough.

[2017-08-15 12:46] crisp2017 commented on #295
I just downloaded Avast Password, its very sophisticated, also zero knowledge, its all offline but you can synch across devices, and its free.

[2017-08-15 13:19] xgkphdx commented on #295
@mike12345567 @alvarl @hnykda Many thanks for the workaround, it works on Fedora.

[2017-08-15 13:55] springjazzy commented on #295
@hnykda Is there way to run it on Windows? I've installed everything and ran "build.sh desktop" but it keeps showing error:

![image](https://user-images.githubusercontent.com/16219710/29318889-8f3f2e0e-81da-11e7-99f4-bbe46f9bd4b1.png)

[2017-08-15 14:07] springjazzy commented on #295
Works on Windows! Many thanks!

[2017-08-15 14:38] ezekiel-lemur commented on #295
@hnykda @crisp2017 @mike12345567 @alvarl **thank you so much** you saved my life guys !!! and SpiderOak I am really really disappointed, it is less bad for us as we know what github is but think of people who dont have all teir passwords. just a tip before pulling a service off the shelf maybe inform your loyal users.

[2017-08-15 14:51] dodys commented on #295
after a whole morning without access to Encryptr, it seems that now it is working fine. They reissued a new certificate

[2017-08-15 14:54] jruffin commented on #295
@hnykda @crisp2017 @mike12345567 @alvarl Many thanks, the workaround went well on Windows and I could back up my passwords.

Encryptr might be working again but that was enough of a warning to me that relying on a purely cloud-based service, as convenient as it can be, is dangerous. I am moving to KeePassXC together with Dropbox storage.

[2017-08-15 15:52] dodys commented on #295
If anyone is interested in knowing if Encryptr is still being developed, I got this reply from the support team.

I'm relieved to report that the problem with Encryptr has been resolved. You should be able to log in to your Encryptr account and use it normally now.

"We first became aware of this problem at 1240 UTC today, and had it corrected by 1430 UTC.

Looking to the future, our next release

[2017-08-15 16:36] exterm commented on #295
Sorry, but for me, after 2 months of the android app being completely broken, this is it. I am moving on to lastpass and have lost a lot of trust in SpiderOak.

[2017-08-15 16:41] ezekiel-lemur commented on #295
You should try KeePass it's very good and open source. You can back it up on Dropbox etc

[2017-08-15 19:59] ellul-ezra commented on #295
Bitwarden is also open source, multi-platform and features free cloud syncing, import/export etc

[2017-08-15 20:16] lebedov commented on #277
Problem seems to have resolved as of the present.

[2017-08-15 20:42] ezekiel-lemur commented on #295
Bitwarden seems really cool... +1

[2017-08-16 05:39] enfrte commented on #277
Yep, it works for me now.

[2017-08-16 07:00] Amarog commented on #295
hello guys, It's completely working now. Yesterday i mailed them and told about issue. now there servers are up. till  dec-2017. working on ubuntu 16.04.
![selection_005](https://user-images.githubusercontent.com/24844704/29351004-7d711a6c-827e-11e7-9b41-1646e8a1a052.png)
![selection_004](https://user-images.githubusercontent.com/24844704/29351012-8648b14a-827e-11e7-925e-0cf098427754.png)

[2017-08-16 08:24] hnykda commented on #295
Thanks for [bitwarden](http://bitwarden.com) recommendation. I have already migrated. It's quite easy:

1. Open the last version of Encryptr (build it yourself or use what I have posted previously)
2. Click on the "export" button in the top right corner, export it to CSV
3. Create bitwarden account
4. Change columns in Encryptr export from Label->Name, Username->username, Password->password,Notes-

[2017-08-16 13:00] petervnv commented on #286
Thanks @devgeeks
Indeed the PRs seem to have been merged these last couple of weeks.

But that applies only to encryptr. Any idea why the corresponding PRs on Crypton are still waiting to be merged? https://github.com/SpiderOak/crypton/pull/448

There seems no point in compiling encryptr if the backend is still not compatible with the updates.

[2017-08-24 03:35] devgeeks commented on #286
As I mentioned in the linked issue, my understanding is that Crypton is _not_ being maintained going forward. Any updates to Crypton would only be to support features they might add to Encryptr.

[2017-08-26 14:50] petervnv commented on #286
Thanks @devgeeks
I replied in the crypton issue thread, but basically I understand what you're saying and it makes sense.

But in this particular case, I see the new offline/backup features PR was merged into Encryptr but the corresponding Crypton side PRs haven't been merged yet. So the latest Encryptr available on github won't work with the current git available on Crypton (until the PRs are mer

[2017-08-27 15:59] petervnv commented on #295
Hi guys,

I followed the instructions and just did a fresh git clone and compiled Encryptr desktop for Mint.
Everything works as expected except that Encryptr now gives me a "wrong password" error when I try logging in even though I'm sure the password is correct (works fine on iOS).

Any idea where I should start looking? I still have my old Encryptr app on Mint.

Cheers,
Peter

[2017-08-27 16:21] petervnv commented on #295
OK, I was able to change the host it pointed to and now I can login and see my passwords.
The problem is that although I now see my passwords the download/export (?) button is still greyed out and Encryptr keeps showing the "Fetching data" message so I can't actually export my passwords even though I can see them.

Console:
Encryptr
[8285:0827/171519:ERROR:browser_main_loop.cc(162)] Running withou

[2017-08-27 16:23] petervnv commented on #295
Nevermind, it just took a long time to synch and now I can export my passwords!

Thanks!

[2017-09-03 02:25] dermitdemdino opened #296 "Is Encryptr still actively developed?"
Unfortunately, the development seems to be resting. The last Android version is from 2015 (!), You can still not import / export.

[2017-09-05 01:47] devgeeks commented on #286
@petervnv AFAIK, the backup/export functionality works without the crypton PR being merged, but offline will not. I am just guessing based on the fact that there are folks here that have compiled Encryptr themselves and used the new export feature to migrate away. :/

[2017-09-05 13:28] Samahedron commented on #296
I just put this question to Spideroak customer service. Their response below:

 Kat Tyler (SpiderOak Support)

Sep 3, 1:32 PM CDT

Hi [Samahedron],

I'm Kat with SpiderOak Support. Thanks for contacting us!

Our developers are currently working on a new version of Encryptr, which should address the issues some Android users have been seeing when trying to load the application. I'm unfortunately un

[2017-09-05 13:30] Samahedron commented on #292
I followed up on the Android issue with Spideroak support. Their response below:

I just put this question to Spideroak customer service. Their response below:
--------
 Kat Tyler (SpiderOak Support)

Sep 3, 1:32 PM CDT

Hi [Samahedron],

I'm Kat with SpiderOak Support. Thanks for contacting us!

Our developers are currently working on a new version of Encryptr, which should address the issues som

[2017-09-06 17:35] petervnv commented on #295
@ellul-ezra
Thanks for pointing out Bitwarden. It seems to tick all the right boxes except it seems to be too dependent on Microsoft (it uses SQL server instead of MySQL, etc).

Maybe just my old school prejudice, but I have trouble wrapping my head around using any microsoft code for these types of privacy and security apps.

I wonder how easy it would be to replace the MS specific components by

[2017-09-07 00:46] ellul-ezra commented on #295
Yes and apparently it uses Azure cloud for hosting :/

[2017-09-08 02:14] ggillies commented on #295
@petervnv how did you work around the issue with it giving you wrong password when using a version compiled from git? You mention you had to change the host? What did you change it to?

[2017-09-08 07:45] Tormen commented on #196
Same here.
The ticket is open soon 2 years.
It would be nice to get a feedback from @spideroak on if this is something you can envision, or you won't implement.

[2017-09-08 14:53] petervnv commented on #295
@ggillies

Check out the post above by  @mike12345567  , specifically:

Just change the host as described by him.

Cheers

_I had to change the endpoint it was targeting to encryptrservice.crypton.io which can be found under desktopbuilds/osx64/Encryptr.app/Contents/Resources/app.nw/js/Encryptr.js on line 45 (it is set to encryptrstaging.crypton.io)._

[2017-09-13 07:05] julian-higginson commented on #292
same problem, google pixel.

Really disappointed in this as it caused a massive inconvenience to me yesterday then i discover it's been a problem for some users for some for months, and I had no warning of this... you guys should push out a warning to every android user of the app at a minimum (or an EOL warning to everyone!) so people don't get caught out...

It would have been better if you'd ma

[2017-09-13 13:42] convct opened #297 "Passwords have stopped syncing Moto G5+ Android 7.0"
Moto G5+ Android 7.0
Android security patch level 1st Jan 2017
Kernel Feb 6 20108 2018
Build number NPN25.137.33
Stopped syncing around 2 weeks ago I think. I have not yet checked updates installed.
if there is anything I can do to help test this please let me know.

[2017-09-15 17:29] lowellday commented on #296
If Encryptr has reached end-of-life **PLEASE** make a formal announcement and provide users with a way to export their data!

[2017-09-15 17:31] lowellday commented on #292
If Encryptr has reached end-of-life **PLEASE** make a formal announcement and provide users with a way to export their data!

[2017-09-15 17:46] Samahedron commented on #297
I believe this is a duplicate of issue #292

[2017-09-15 18:54] convct commented on #297
Yes you're quite right., I'll move out there and close this.

[2017-09-15 18:54] #297 closed

[2017-09-15 18:54] convct commented on #292
Moto G5+ Android 7.0
Android security patch level 1st Jan 2017
Kernel Feb 6 20108 2018
Build number NPN25.137.33
Stopped syncing around 2 weeks ago I think. I have not yet checked updates installed.
if there is anything I can do to help test this please let me know.

[2017-09-17 23:36] devgeeks commented on #296
@lowellday I cannot speak to formal announcements, but I believe SpiderOak are working on releasing an update to Encryptr to allow export of data. I assume for the purpose of migrating off Encryptr :(

[2017-09-19 23:51] 4oo4 commented on #296
@devgeeks Really appreciate all the work you've put into this amazing app and the recent updates, but shame on SpiderOak for killing off the project and for creating this air of confusion.

[2017-09-28 17:53] JackDraak commented on #292
No way to pin this to the top, so, here it is again, quoted from above, for those who might find it most readily so:

Kat Tyler (SpiderOak Support)

Sep 3, 1:32 PM CDT

Hi [Samahedron],

I'm Kat with SpiderOak Support. Thanks for contacting us!

Our developers are currently working on a new version of Encryptr, which should address the issues some Android users have been seeing when trying to load

[2017-10-04 18:37] RatherFunky commented on #292
hmm I might have found a temporary fix until update comes out. Here is the answer: if you are go pass the login screen and can see + sign press it. Then create random entry. Then save it. All my passwords loaded back. I hope it will work for you all. The entry which I tested was password.

[2017-10-13 15:19] deepdivedylan commented on #296
SpiderOak messaged me on Twitter that should be added to this thread.

**TL; DR:** Encryptr is being moved to the Flow platform, and not going EOL as previously posted on these threads.

https://twitter.com/deepdivedylan/status/918210143606669315

[2017-10-16 15:49] Samahedron commented on #292
cross post from:https://github.com/SpiderOak/Encryptr/issues/296

--

[2017-10-20 12:23] vervelak commented on #291
The issue still persists. Any news on the update?

[2017-10-21 01:44] devgeeks commented on #291
Perhaps the new update will fix it. As a temporary workaround, when you view an entry just hit the edit button and then you can "select all" and "copy" on a password, etc.

:/

[2017-10-28 20:11] senften commented on #291
Any further word or on this?

[2017-11-27 22:11] AlanDasein opened #305 "iOS 11.1.2 copying issue"
As for iOs version 11.1.2 the app isn't copying to the clipboard after tapping on a field. I have to switch to edit mode to copy the regular way.